<template>
    <div id="client-index" class="container-fluid">
        <div class="row content-box">
            <div class="panel-default borderless flat">
                <div class="panel-body">
                    <div class="row major-title-row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h1 class="text-center">Clients We Have Worked With</h1>
                        </div>
                        <div class="col-sm-2 text-right">
                            <div v-show="userPermissions['client.create']">
                                <button class="btn btn-success btn-md"
                                        v-popover="addNewClientPopOptions"
                                        id="add-new-client"
                                >
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add Client</span>
                                </button>
                                <div id="popover-content-add-client"
                                     class="webui-popover-content">
                                    <div class="content-padding">
                                        <h1>Add client</h1>
                                        <form class="form-horizontal"
                                              id="add-client-form"
                                              @submit.prevent="addNewClient"
                                        >
                                            <div :class="{'form-group': true, 'has-error': formErrors && formErrors.name}">
                                                <label for="new-client-name">Name *</label>
                                                <input id="new-client-name"
                                                       class="form-control"
                                                       required
                                                       :disabled="formInProgress"
                                                       v-model="newClient.name">
                                                <span class="help-block"
                                                      v-if="formErrors && formErrors.name"
                                                >
                          {{ formErrors.name[0] }}
                        </span>
                                            </div>

                                            <div :class="{'form-group': true, 'has-error': formErrors && formErrors.website}">
                                                <label for="new-client-website">
                                                    Website *
                                                </label>
                                                <input id="new-client-website"
                                                       class="form-control"
                                                       :disabled="formInProgress"
                                                       required
                                                       type="text"
                                                       v-model="newClient.website">
                                                <span class="help-block"
                                                      v-if="formErrors && formErrors.website"
                                                >
                          {{ formErrors.website[0] }}
                        </span>
                                            </div>
                                            <div :class="{'form-group': true, 'has-error': formErrors && formErrors.logo}">
                                                <input id="new-client-logo"
                                                       class="form-control"
                                                       :disabled="formInProgress"
                                                       required
                                                       type="file"
                                                       style="display:none"
                                                       name="logo"
                                                       accept="image/x-png,image/gif,image/jpeg"
                                                       v-on:change="previewFile">
                                                <button id="fileInputButton"
                                                        onclick="document.getElementById('new-client-logo').click()"
                                                        class="btn btn-info btn-block">
                                                    <i class="fa fa-image"></i>
                                                    Choose Logo
                                                </button>
                                                <span class="help-block"
                                                      v-if="formErrors && formErrors.logo"
                                                >
                                                {{ formErrors.logo[0] }}
                                                </span>

                                            </div>
                                            <div class="image-preview" v-if="imageData.length > 0">
                                                <img class="preview" :src="imageData">
                                            </div>
                                            <!--<div :class="{'form-group': true, 'has-error': formErrors && formErrors.description}">
                                              <label for="new-client-description">
                                                Title
                                              </label>
                                              <input id="new-client-description"
                                                     class="form-control"
                                                     :disabled="formInProgress"
                                                     v-model="newClient.description">
                                              <span class="help-block"
                                                    v-if="formErrors && formErrors.description"
                                              >
                                                {{ formErrors.description[0] }}
                                              </span>
                                            </div>
                                            <div :class="{'form-group': true, 'has-error': formErrors && formErrors.color}">
                                              <label for="new-client-color">
                                                Color
                                              </label>
                                              <input id="new-client-color"
                                                     class="form-control"
                                                     :disabled="formInProgress"
                                                     placeholder="red or #ff0000"
                                                     v-model="newClient.color">
                                              <span class="help-block"
                                                    v-if="formErrors && formErrors.color"
                                              >
                                                {{ formErrors.color[0] }}
                                              </span>
                                            </div>
                                            <div :class="{'form-group': true, 'has-error': formErrors && formErrors.company_id}">
                                              <label for="new-client-companyid">
                                                Company *
                                              </label>
                                              <select id="new-client-companyid"
                                                      class="form-control"
                                                      :disabled="formInProgress"
                                                      required
                                                      v-model="newClient.company_id">
                                                <option v-for="company in companiesList"
                                                        :value="company.id">
                                                  {{ company.name }}
                                                </option>
                                              </select>
                                              <span class="help-block"
                                                    v-if="formErrors && formErrors.company_id"
                                              >
                                                {{ formErrors.company_id[0] }}
                                              </span>
                                            </div>


                                            -->

                                            <button class="btn btn-success btn-block submit"
                                                    type="submit">
                                                <i class="glyphicon glyphicon-repeat fast-right-spinner"
                                                   v-if="formInProgress"
                                                ></i>
                                                Create
                                            </button>
                                            <p class="help-block">
                                                all fields marked (*) are required.
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="clientsList.length > 0">
                        <div v-for="client in clientsList"
                             :id="'client-item-' + client.id"
                             class="col-md-4">
                            <div class="col-md-10 col-md-offset-1 client-in text-center">
                                <div class="client-logo text-center">
                                    <img v-if="client.logo && client.logo != null && client.logo.length > 0"
                                         :src="locationOrigin+'/'+client.logo"/>
                                    <img v-if="!client.logo || client.logo == null || client.logo.length == 0"
                                         :src="defaultClientLogo"/>
                                </div>
                                <div class="website-text">{{client.website}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="loading" v-show="companiesList === null">Loading&#8230;</div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'

    import FileUpload from 'vue-upload-component';

    export default {
        name: 'ClientIndex',
        data() {
            var locationOrigin = document.location.origin;
            return {
                activeClient: null,
                newClient: {},
                imageData: "",
                imageType: "",
                locationOrigin : locationOrigin,
                defaultClientLogo: locationOrigin + "/images/client_logo_placeholder.png",
                addNewClientPopOptions: {
                    trigger: 'click',
                    placement: 'auto', //bottom-right
                    closeable: true,
                    animation: 'pop',
                    dismissible: false,
                    onShow: function (element) {
                        element.css('top', '225px');
                    }
                },
                formErrors: null,
                formInProgress: false,
                clientsList: []
            }
        },
        mounted() {
            this.fetchCompaniesList();
            this.generateClientsList();
        },
        watch: {
            'companiesList': 'generateClientsList'
        },
        computed: {
            ...mapGetters({
                companiesList: 'companiesList',
                userPermissions: 'userPermissions'
            })
        },
        methods: {
            ...mapActions([
                'fetchCompaniesList',
                'createCompany'
            ]),
            generateClientsList() {
                let clients = [];
                this.clientsList = this.companiesList;
            },
            addNewClient() {
                this.formInProgress = true;
                this.newClient.logo = this.imageData;
                this.newClient.imageType = this.imageType;
                this.createCompany(this.newClient).then(response => {
                    this.newClient = {};
                    this.formErrors = null;
                    this.generateClientsList();
                    $('#add-new-client').webuiPopover('hide');
                    this.formInProgress = false;
                }).catch(error => {
                    if (error.status === 422) {
                        this.formErrors = error.body;
                    } else {
                        $('#add-new-client').webuiPopover('hide');
                    }
                    this.formInProgress = false;
                });
            },
            previewFile(event) {
                var input = event.target;
                // Ensure that you have a file before attempting to read it
                if (input.files && input.files[0]) {
                    // create a new FileReader to read this image and convert to base64 format
                    var reader = new FileReader();
                    // Define a callback function to run, when FileReader finishes its job
                    reader.onload = (e) => {
                        // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                        // Read image as base64 and set to imageData
                        this.imageData = e.target.result;
                        var imageType = this.imageData.split(':image/');
                        if (imageType && imageType.length && imageType.length > 1) {
                            imageType = imageType[1].split(';');
                            imageType = imageType[0];
                        }

                        switch (imageType) {
                            case 'jpg':
                            case'jpeg':
                                this.imageType = 'jpg';
                                break;
                            case 'png':
                            case 'pneg':
                                this.imageType = 'png';
                                break;
                            case'gif':
                                this.imageType = 'gif';
                                break;
                            default:
                                this.imageType = '';
                                //validation
                                break;
                        }

                    };
                    // Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0]);
                }
            }
        },
        components: {
            FileUpload
        }
    }
</script>
<style>
    .webui-popover.left > .webui-arrow {
        top: 45% !important;
    }

    .form-group {
        margin-bottom: 0;
    }

    form .btn {
        margin-top: 15px;
    }

    .btn-md span {
        padding-left: 5px;
    }

    .table {
        margin-top: 35px;
    }

    .table td {
        border-top: 0;
    }

    .table thead tr th {
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px dashed #EEF1F6;
    }

    .table tbody tr:nth-of-type(odd) {
        background-color: #FFFFFF;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #EEF1F6;
    }

    .table tbody tr td:first-child {
        border-radius: 32px 0 0 32px;
        -moz-border-radius-topleft: 32px;
        -moz-border-radius-bottomleft: 32px;
        -webkit-border-top-left-radius: 32px;
        -webkit-border-bottom-left-radius: 32px;
    }

    .table tbody tr td:last-child {
        border-radius: 0 32px 32px 0;
        -moz-border-radius-topright: 32px;
        -moz-border-radius-bottomright: 32px;
        -webkit-border-top-right-radius: 32px;
        -webkit-border-bottom-right-radius: 32px;
    }

    .glyphicon.fast-right-spinner {
        -webkit-animation: glyphicon-spin-r 1s infinite linear;
        animation: glyphicon-spin-r 1s infinite linear;
    }

    @-webkit-keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    img.preview {
        width: 200px;
        background-color: white;
        border: 1px solid #DDD;
        padding: 5px;
    }

    .image-preview {
        text-align: center;
        margin-top: 15px;
    }

    .client-in {
        background: #FFF;
        padding-top: 60px;
        margin-bottom: 40px;
    }
</style>
