<template>
  <div>
    <div class="text-center">
      <button class="btn btn-info" @click="showForm = !showForm">
        <i class="glyphicon glyphicon-comment"></i>
        Add new message
      </button>
    </div>
    <div :id="tab + '-message-form'"
         v-show="showForm"
         class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 wysiwyg message-form">
      <div class="panel panel-default panel-message-form flat">
        <div class="panel-heading message-panel-heading">
          <ul class="nav nav-pills">
            <li :class="{'active': project.permissions['message.create']}"
                v-if="project.permissions['message.create'] && messageForm"
            >
              <a :href="'#' + tab + '-add-message'" data-toggle="tab">
                Add message
              </a>
              <div class="triangle"></div>
            </li>
            <li :class="{'active': !project.permissions['message.create'] && project.permissions['action.create']}"
                v-if="project.permissions['action.create'] && actionForm">
              <a :href="'#' + tab + '-add-action'" data-toggle="tab">
                Add action
              </a>
              <div class="triangle"></div>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div :class="{'add-message': true, 'tab-pane': true, 'active': project.permissions['message.create']}"
                 :id="tab + '-add-message'"
                 v-show="messageForm"
            >
              <div class="editor"></div>
              <p class="text-danger text-center" v-if="addMessageErrors.content">
                <i class="glyphicon glyphicon-warning-sign"></i>
                {{ addMessageErrors.content[0] }}
              </p>
              <file-upload v-if="uploadFileOption"
                           @filesListChange="updateMessageFilesList"
                           :reset="messageFilesReset"
              ></file-upload>
              
              <div class="panel-message-footer">
                <div class="row">
                  <div class="toolbar col-sm-5">
                    <span class="ql-format-group">
                      <span class="ql-format-button ql-bold" title="Bold"></span>
                      <span class="ql-format-button ql-italic" title="Italic"></span>
                      <span class="ql-format-button ql-underline" title="Underline"></span>
                      <span class="ql-format-button ql-list" title="List"></span>
                      <span class="ql-format-button ql-bullet" title="Bullet"></span>
                      <select class="ql-align" title="Text Alignment">
                        <option label="Left" selected="" value="left"></option>
                        <option label="Center" value="center"></option>
                        <option label="Right" value="right"></option>
                        <option label="Justify" value="justify"></option>
                      </select>
                    </span>
                  </div>
                  <div class="col-sm-2 attachment">
                    <span class="icon-sm icon-attachment-dark"
                          v-if="userPermissions['file.upload']"
                          @click="uploadFileOption = !uploadFileOption"
                    ></span>
                  </div>
                  <div class="col-sm-5 buttons">
                    <button class="btn btn-sm btn-info"
                            :class="{'disabled': msgFormInProgress}"
                            @click="publishMessage($event)">
                      <i class="glyphicon glyphicon-repeat fast-right-spinner"
                         v-if="msgFormInProgress"></i>
                      Publish
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              :class="{'add-action': true, 'tab-pane': true, 'active': !project.permissions['message.create'] && project.permissions['action.create']}"
              :id="tab + '-add-action'"
              v-show="actionForm"
            >
              <div class="content-padding row form-horizontal">
                <div class="date">
                  {{ today }}
                </div>
                <br>
                <div class="col-md-6">
                  <label>Note</label>
                  <div class="editor"></div>
                  
                  <p class="text-danger text-center" v-if="addActionErrors.content">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                    {{ addActionErrors.content[0] }}
                  </p>
                
                </div>
                <div class="col-sm-6">
                  <div class="form-group has-feedback">
                    <label>Due date</label>
                    <date-picker :date="newAction"
                                 :option="datepickerOptions"
                                 required="required"
                    ></date-picker>
                    <span class="icon icon-calendar-dark form-control-feedback"></span>
                    
                    <p class="text-danger text-center" v-if="addActionErrors.due_date">
                      <i class="glyphicon glyphicon-warning-sign"></i>
                      {{ addActionErrors.due_date[0] }}
                    </p>
                  
                  </div>
                  <div class="form-group">
                    <div v-for="action in actionTypes">
                      <input type="radio"
                             :id="tab + '-' + action + '-radio'"
                             :name="tab + '-action-type'"
                             v-model="newAction.type"
                             :disabled="actFormInProgress"
                             :value="action">
                      <label :for="tab + '-' + action + '-radio'">{{ action }}</label>
                    </div>
                    
                    <p class="text-danger text-center" v-if="addActionErrors.type">
                      <i class="glyphicon glyphicon-warning-sign"></i>
                      {{ addActionErrors.type[0] }}
                    </p>
                  
                  </div>
                </div>
              </div>
              <file-upload v-if="actionUploadFileOption"
                           @filesListChange="updateActionFilesList"
                           :reset="actionFilesReset"
              ></file-upload>
              <p style="padding-right: 10px" class="text-right">All fields are required</p>
              <div class="panel-message-footer">
                <div class="row">
                  <div class="toolbar col-sm-5">
                    <span class="ql-format-group">
                      <span class="ql-format-button ql-bold" title="Bold"></span>
                      <span class="ql-format-button ql-italic" title="Italic"></span>
                      <span class="ql-format-button ql-underline" title="Underline"></span>
                      <span class="ql-format-button ql-list" title="List"></span>
                      <span class="ql-format-button ql-bullet" title="Bullet"></span>
                      <select class="ql-align" title="Text Alignment">
                        <option label="Left" selected="" value="left"></option>
                        <option label="Center" value="center"></option>
                        <option label="Right" value="right"></option>
                        <option label="Justify" value="justify"></option>
                      </select>
                    </span>
                  </div>
                  <div class="col-sm-2 attachment">
                    <span class="icon-sm icon-attachment-dark"
                          v-if="userPermissions['file.upload']"
                          @click="actionUploadFileOption = !actionUploadFileOption"
                    ></span>
                  </div>
                  <div class="col-sm-5 buttons">
                    <button class="btn btn-sm btn-primary"
                            :class="{'disabled': actFormInProgress}"
                            @click="publishAction($event)">
                      <i class="glyphicon glyphicon-repeat fast-right-spinner"
                         v-if="actFormInProgress"></i>
                      Publish
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <vue-modal v-if="showMsgError">
      <h3 slot="header">
        Failed saving new message
      </h3>
      <div slot="body">
        Server Error! Message is not saved.
      </div>
      <div slot="footer">
        <button class="btn btn-default" @click="showMsgError = false">
          Close
        </button>
      </div>
    </vue-modal>
  
  </div>
</template>
<style scoped>
  .icon-attachment-dark:hover {
    cursor: pointer;
  }
  
  .message-form {
    margin-top: 10px;
  }
</style>
<script>
  import {mapActions, mapGetters} from 'vuex'
  import vueDatepicker from 'vue-datepicker'
  const FileUpload = require('../common/FileUpload.vue');
  const Quill = require('quill');
  const VueModal = require('../common/VueModal');
  
  export default{
    name: 'AddProjectMessage',
    props: ['project', 'tab', 'messageForm', 'actionForm'],
    data(){
      return {
        messageFilesReset: false,
        addMessageErrors: {content: null},
        messageUploadedFiles: [],
        uploadFileOption: false,
        actionFilesReset: false,
        addActionErrors: {content: null},
        actionUploadedFiles: [],
        actionUploadFileOption: false,
        newMessageEditor: null,
        actionMessageEditor: null,
        newAction: {
          time: moment().format('YYYY/MM/DD'),
          type: 'approval',
          content: null
        },
        today: moment().format('dddd, MM Do, YYYY'),
        datepickerOptions: {
          type: 'day',
          week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
          month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          format: 'YYYY/MM/DD',
          inputStyle: {
            'box-shadow': 'none',
            'padding': '6px 12px',
            'padding-left': '20px',
            'padding-right': '50px',
            'font-size': '110%',
            'display': 'block',
            'width': '100%',
            'height': '40px',
            'line-height': '14px',
            'color': '#57626d',
            'background-color': '#EEF1F6',
            'background-image': 'none',
            'border': '1px solid #EEF1F6',
            'border-radius': '4px',
            '-webkit-transition': 'border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s',
            'transition': 'border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s',
          },
          color: {
            header: '#434E60', //'#D82A4C'
            headerText: '#F6F7F9'
          },
          buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
          },
          overlayOpacity: 0.5,
          dismissible: true
        },
        showForm: false,
        msgFormInProgress: false,
        actFormInProgress: false,
        showMsgError: false
      }
    },
    computed: {
      ...mapGetters({
        actionTypes: 'actionTypes',
        userPermissions: 'userPermissions',
        projectActiveService: 'projectActiveService'
      })
    },
    mounted() {
      this.initQuillPlugin();
    },
    methods: {
      ...mapActions([
        'addProjectMessage',
      ]),
      updateMessageFilesList(files) {
        if (this.messageFilesReset) this.messageFilesReset = false;
        this.messageUploadedFiles = files;
      },
      updateActionFilesList(files) {
        if (this.actionFilesReset) this.actionFilesReset = false;
        this.actionUploadedFiles = files;
      },
      initQuillPlugin() {
        this.newMessageEditor = new Quill("#" + this.tab + "-message-form .editor", {
          modules: {
            toolbar: "#" + this.tab + "-message-form .toolbar"
          },
          placeholder: 'Add your message here ...',
          theme: 'snow'
        });
        this.actionMessageEditor = new Quill("#" + this.tab + "-add-action .editor", {
          modules: {
            toolbar: "#" + this.tab + "-add-action .toolbar"
          },
          placeholder: 'Action details here ...',
          theme: 'snow'
        });
      },
      publishMessage(event) {
        let data = {};
        let msgEl = $(event.target).closest("#" + this.tab + "-add-message").find('.ql-editor');
        
        if (msgEl.text()) {
          this.msgInProgress(true);
          data.content = msgEl.html();
          if (this.projectActiveService) {
            data['project_service_id'] = this.projectActiveService.pivot.id;
          }
          if (this.messageUploadedFiles.length > 0) {
            data['attachments'] = this.messageUploadedFiles;
          }
          data.tab = this.tab;
          this.addProjectMessage({projectId: this.project.id, data: data}).then(
            response => {
              msgEl.html('');
              this.messageFilesReset = true;
              this.addMessageErrors = {content: null};
              this.messageUploadedFiles = [];
              this.showForm = false;
              this.msgInProgress(false);
            }
          ).catch(error => {
            if (error.status === 422) {
              this.addMessageErrors = error.body;
              this.msgInProgress(false);
            } else {
              this.showMsgError = true;
              this.addMessageErrors = {content: null};
              this.messageFilesReset = true;
              this.messageUploadedFiles = [];
              this.showForm = false;
              this.msgInProgress(false);
            }
          });
        } else {
          this.addMessageErrors.content = ["Can not submit an empty message!"]
          this.msgInProgress(false);
        }
      },
      msgInProgress(status) {
        if (status) {
          this.msgFormInProgress = true;
          this.newMessageEditor.editor.disable();
        } else {
          this.msgFormInProgress = false;
          this.newMessageEditor.editor.enable();
        }
      },
      actInProgress(status) {
        if (status) {
          this.actFormInProgress = true;
          this.actionMessageEditor.editor.disable();
        } else {
          this.actFormInProgress = false;
          this.actionMessageEditor.editor.enable();
        }
      },
      publishAction(event) {
        let msgEl = $(event.target).closest("#" + this.tab + "-add-action").find('.ql-editor');
        
        if (msgEl.text() && this.newAction.time && this.newAction.type) {
          this.actFormInProgress = true;
          this.newAction.content = msgEl.html();
          this.newAction.date_due = this.newAction.time;
          this.newAction.tab = this.tab;
          if (this.projectActiveService) {
            this.newAction['project_service_id'] = this.projectActiveService.pivot.id;
          }
          if (this.actionUploadedFiles.length > 0) {
            this.newAction['attachments'] = this.actionUploadedFiles;
          }
          this.addProjectMessage({projectId: this.project.id, data: this.newAction}).then(
            response => {
              msgEl.html('');
              this.actionFilesReset = true;
              this.addActionErrors = {content: null};
              this.actionUploadedFiles = [];
              this.showForm = false;
              this.actInProgress(false);
            }
          ).catch(error => {
            if (error.status === 422) {
              this.addActionErrors = error.body;
              this.actInProgress(false);
            } else {
              this.showMsgError = true;
              this.addActionErrors = {content: null};
              this.actionFilesReset = true;
              this.actionUploadedFiles = [];
              this.showForm = false;
              this.actInProgress(false);
            }
          });
        } else {
          if (!msgEl.text())
            this.addActionErrors.content = ["Can not submit an empty note!"];
          if (!this.newAction.time)
            this.addActionErrors.due_date = ["Must submit a Due Date!"];
          if (!this.newAction.type)
            this.addActionErrors.type = ["Must choose a type!"];
          this.actInProgress(false);
        }
      }
    },
    components: {
      'date-picker': vueDatepicker,
      FileUpload,
      VueModal
    }
  }
</script>
