<template>
  <div>
    <button class="btn btn-success"
            id="create-new-project"
            v-popover="newProjectPopOptions"
    >
      <i class="glyphicon glyphicon-plus"></i>
    </button>
    <div id="popover-create-new-project"
         class="webui-popover-content">
      <div class="content-padding">
        <h1>Create new project</h1>
        <form id="create-new-project-form"
              class="form-horizontal"
              @submit.prevent="createNewProject"
        >
          <div :class="{'form-group': true, 'has-error': newProjectErrors.name}">
            <label for="new-project-name">Project name *</label>
            <input id="new-project-name"
                   v-model="newProject.name"
                   :disabled="formInProgress"
                   required
                   class="form-control">
            <span class="help-block" v-if="newProjectErrors.name">
              {{ newProjectErrors.name[0] }}
            </span>
          </div>
          <div :class="{'form-group': true, 'has-error': newProjectErrors.color}">
            <label for="new-project-color">Project color</label>
            <input id="new-project-color"
                   v-model="newProject.color"
                   :disabled="formInProgress"
                   class="form-control">
            <span class="help-block" v-if="newProjectErrors.color">
              {{ newProjectErrors.color[0] }}
            </span>
          </div>
          <div :class="{'form-group': true, 'has-error': newProjectErrors.pm_id}">
            <label for="new-project-pm">Project manager *</label>
            <select id="new-project-pm"
                    :disabled="formInProgress"
                    v-model="newProject.pm_id"
                    required
                    class="form-control">
              <option v-for="manager in managersList" :value="manager.id">
                {{ manager.name }}
              </option>
            </select>
            <span class="help-block" v-if="newProjectErrors.pm_id">
              {{ newProjectErrors.pm_id[0] }}
            </span>
          </div>
          <div :class="{'form-group': true, 'has-error': newProjectErrors.tech_id}">
            <label for="new-project-tech">Technical lead *</label>
            <select id="new-project-tech"
                    :disabled="formInProgress"
                    v-model="newProject.tech_id"
                    required
                    class="form-control">
              <option v-for="tech in leadsList" :value="tech.id">
                {{ tech.name }}
              </option>
            </select>
            <span class="help-block" v-if="newProjectErrors.tech_id">
              {{ newProjectErrors.tech_id[0] }}
            </span>
          </div>
          <div :class="{'form-group': true, 'has-error': newProjectErrors.company_id}">
            <label for="new-project-company">Company *</label>
            <select id="new-project-company"
                    :disabled="formInProgress"
                    v-model="newProject.company"
                    required
                    class="form-control">
              <option v-for="company in companiesList" :value="company">
                {{ company.name }}
              </option>
            </select>
            <span class="help-block" v-if="newProjectErrors.company_id">
              {{ newProjectErrors.company_id[0] }}
            </span>
          </div>
          <div :class="{'form-group': true, 'has-error': newProjectErrors.client_id}">
            <label for="new-project-client">Client *</label>
            <select id="new-project-client"
                    :disabled="formInProgress || !newProject.company"
                    v-model="newProject.client_id"
                    required
                    class="form-control"
                    v-if="newProject.company">
              <option v-for="client in newProject.company.clients"
                      :value="client.id">
                {{ client.name }}
              </option>
            </select>
            <select disabled="disabled"
                    required
                    class="form-control"
                    v-else>
              <option>Choose a company</option>
            </select>
            <span class="help-block" v-if="newProjectErrors.client_id">
              {{ newProjectErrors.client_id[0] }}
            </span>
          </div>
          <div class="form-group has-feedback" :class="{'has-error': newProjectErrors.date_start}">
            <label>Start date *</label>
            <date-picker :date="newProject.start" :option="datepickerOptions" :required="true"></date-picker>
            <span class="icon icon-calendar-dark form-control-feedback"></span>
            <p class="help-block text-danger" v-if="newProjectErrors.date_start">
              {{ newProjectErrors.date_start[0] }}
            </p>
          </div>
          <div class="form-group has-feedback" :class="{'has-error': newProjectErrors.date_final}">
            <label>Estimated end *</label>
            <date-picker :date="newProject.final" :option="datepickerOptions" :required="true"></date-picker>
            <span class="icon icon-calendar-dark form-control-feedback"></span>
            <p class="help-block text-danger" v-if="newProjectErrors.date_final">
              {{ newProjectErrors.date_final[0] }}
            </p>
          </div>
          <br>
          <button type="submit"
                  :disabled="formInProgress"
                  class="btn btn-block btn-success btn-lg submit">
            <i class="glyphicon glyphicon-repeat fast-right-spinner" v-show="formInProgress"></i>
            Create
          </button>
          <p class="help-block">
            all fields marked (*) are required.
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import {mapActions, mapGetters} from 'vuex'
  import vueDatepicker from 'vue-datepicker'
  
  export default {
    name: 'CreateProject',
    data() {
      return {
        newProjectPopOptions: {
          trigger: 'click',
          placement: 'bottom-left', //bottom-right
          closeable: true,
          animation: 'pop',
          dismissible: false,
//                    onShow: function (element) { element.css('top', '2%'); }
        },
        newProject: {
          name: null,
          color: null,
          pm_id: null,
          tech_id: null,
          company: null,
          company_id: null,
          client_id: null,
          date_start: null,
          date_final: null,
          start: {},
          final: {},
        },
        newProjectErrors: {},
        formInProgress: false,
        datepickerOptions: {
          type: 'day',
          week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
          month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          format: 'YYYY/MM/DD',
          inputStyle: {
            'box-shadow': 'none',
            'padding': '6px 12px',
            'padding-left': '20px',
            'padding-right': '50px',
            'font-size': '110%',
            'display': 'block',
            'width': '100%',
            'height': '40px',
            'line-height': '14px',
            'color': '#57626d',
            'background-color': '#EEF1F6',
            'background-image': 'none',
            'border': '1px solid #EEF1F6',
            'border-radius': '4px',
            '-webkit-transition': 'border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s',
            'transition': 'border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s',
          },
          color: {
            header: '#434E60', //'#D82A4C'
            headerText: '#F6F7F9'
          },
          buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
          },
          overlayOpacity: 0.5, // 0.5 as default
          dismissible: true // as true as default
        }
      }
    },
    mounted() {
      this.fetchCompaniesList();
    },
    computed: {
      ...mapGetters({
        companiesList: 'companiesList',
        managersList: 'managersList',
        leadsList: 'leadsList',
      })
    },
    watch: {
      'newProject.company': function (val) {
        if (val && val.clients) {
          this.newProject.client_id = val.clients[0].id
        }
      }
    },
    methods: {
      ...mapActions([
        'fetchCompaniesList',
        'createProject'
      ]),
      createNewProject() {
        let data = JSON.parse(JSON.stringify(this.newProject));
        if (!this.newProject.start.time || !this.newProject.final.time) {
          let errors = JSON.parse(JSON.stringify(this.newProjectErrors));
          if (!this.newProject.start.time) {
            errors.date_start = ['Project start date can\'t be empty.'];
          } else if (errors.date_start) {
            delete errors.date_start;
          }
          if (!this.newProject.final.time) {
            errors.date_final = ['Project estimated end can\'t be empty.'];
          } else if (errors.date_final) {
            delete errors.date_final;
          }
          this.newProjectErrors = errors;
          return;
        }
        data.date_start = this.newProject.start.time;
        data.date_final = this.newProject.final.time;
        data.company_id = this.newProject.company.id;
        delete data.company;
        delete data.start.time;
        delete data.final.time;
        this.formInProgress = true;
        this.createProject(data).then(response => {
          this.newProject = {
            name: null,
            color: null,
            pm_id: null,
            tech_id: null,
            company: null,
            company_id: null,
            client_id: null,
            date_start: null,
            date_final: null,
            start: {time: ''},
            final: {time: ''}
          };
          this.newProjectErrors = {};
          $('#create-new-project').webuiPopover('hide');
          this.formInProgress = false;
        }).catch(error => {
          if (error.status === 422) {
            this.newProjectErrors = error.body;
          } else {
            $('#create-new-project').webuiPopover('hide');
          }
          this.formInProgress = false;
        });
      }
    },
    components: {
      'datePicker': vueDatepicker
    }
  }
</script>
<style>
  .webui-popover.right > .webui-arrow {
    top: 23% !important;
  }
  
  .glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
  }
  
  @-webkit-keyframes glyphicon-spin-r {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  
  @keyframes glyphicon-spin-r {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
</style>