<template>
    <div id="projects-index" class="ignore-major-container">
        <div class="row projects-status-container">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <ul class="nav nav-pills nav-justified">
                        <li :class="{ active: activeFilter }">
                            <a @click.prevent="activeFilter = !activeFilter"
                               href="#"
                            >
                                <img src="images/icons/svg/creative-commons-sampling-brands.svg"/>
                                <span>Active</span>
                            </a>
                        </li>
                        <li :class="{ active: pendingFilter }">
                            <a @click.prevent="pendingFilter = !pendingFilter"
                               href="#"
                               class="pending"
                            >
                                <img src="images/icons/svg/pencil-ruler-solid.svg"/>
                                <span>Planning</span>
                            </a>
                        </li>
                        <li :class="{ active: pausedFilter }">
                            <a @click.prevent="pausedFilter = !pausedFilter"
                               href="#"
                               class="paused"
                            >
                                <img src="images/icons/svg/pause-circle-solid.svg"/>
                                <span>Paused</span>
                            </a>
                        </li>
                        <li :class="{ active: dueFilter }">
                            <a @click.prevent="dueFilter = !dueFilter"
                               href="#"
                               class="due"
                            >
                                <img src="images/icons/svg/exclamation-triangle-solid.svg"/>
                                <span>Alert</span>
                            </a>
                        </li>
                        <li :class="{ active: progressFilter }">
                            <a @click.prevent="progressFilter = !progressFilter"
                               href="#"
                               class="inprogress"
                            >
                                <img src="images/icons/svg/sync-alt-solid.svg"/>
                                <span>In Progress</span>
                            </a>
                        </li>
                        <li :class="{ active: deliveredFilter }">
                            <a @click.prevent="deliveredFilter = !deliveredFilter"
                               href="#"
                               class="delivered"
                            >
                                <img src="images/icons/svg/check-circle-regular.svg"/>
                                <span>Delivered</span>
                            </a>
                        </li>
                        <li :class="{ active: supportFilter }">
                            <a @click.prevent="supportFilter = !supportFilter"
                               href="#"
                               class="support"
                            >
                                <img src="images/icons/svg/bug-solid.svg"/>
                                <span>Support</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div class="col-md-12">
                <div class="row content-box projects-grid-list">
                    <projects-list :projects="filteredProjects"></projects-list>

                    <projects-list :projects="archivedProjects"
                                   v-if="!activeFilter"
                    ></projects-list>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex'

    const ProjectsList = require('./ProjectsList.vue');
    const CreateProject = require('./CreateProject.vue');

    export default {
        name: 'ProjectsIndex',
        data() {
            return {
                projectsFilter: 'all',
                pausedFilter: false,
                activeFilter: true,
                dueFilter: false,
                progressFilter: false,
                pendingFilter: false,
                deliveredFilter: false,
                supportFilter: false
            }
        },
        mounted() {
            initJqueryPlugins();
        },
        computed: {
            ...mapGetters({
                activeProjects: 'activeProjects',
                archivedProjects: 'archivedProjects',
                userPermissions: 'userPermissions'
            }),
            filteredProjects() {
                if (!this.activeProjects) return []

                let projects = this.activeProjects

                let filtered = [];

                if (this.dueFilter) {
                    let due = projects.filter(
                        project => project.status.toLowerCase() === 'due'
                    );
                    filtered = filtered.concat(due)
                }

                if (this.progressFilter) {
                    let progress = projects.filter(
                        project => project.status.toLowerCase() === 'in-progress'
                    );
                    filtered = filtered.concat(progress)
                }

                if (this.pendingFilter) {
                    let pending = projects.filter(
                        project => project.status.toLowerCase() === 'pending'
                    );
                    filtered = filtered.concat(pending)
                }

                if (this.deliveredFilter) {
                    let delivered = projects.filter(
                        project => project.status.toLowerCase() === 'delivered'
                    );
                    filtered = filtered.concat(delivered)
                }

                if (this.supportFilter) {
                    let support = projects.filter(
                        project => project.status.toLowerCase() === 'support'
                    );
                    filtered = filtered.concat(support)
                }

                if (this.pausedFilter) {
                    let support = projects.filter(
                        project => project.status.toLowerCase() === 'paused'
                    );
                    filtered = filtered.concat(support)
                }


                if (!this.dueFilter && !this.progressFilter && !this.pendingFilter && !this.deliveredFilter && !this.pausedFilter && !this.supportFilter)
                    filtered = projects;

                return filtered
            }
        },
        methods: {
            //
        },
        components: {
            ProjectsList,
            CreateProject
        }
    }
</script>
<style>

    .projct-item {
        margin-top: 20px !important;
    }

    button#create-new-project {
        float: right;
    }

    #grid-section-title.row {
        padding-left: 15px;
    }

    #grid-section-title .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: transparent;
        font-weight: bolder;
    }

    #grid-section-title .nav > li > a {
        color: #000;
        border-bottom: 3px solid black;
        border-radius: 0;
        margin: 0 10px 0 0;
        padding: 4px 0;
        font-size: small;
    }

    #grid-section-title .nav > li > a:hover {
        background-color: #ebebeb;
        font-weight: normal;
    }

    #grid-section-title .nav > li > a.due {
        border-bottom-color: #FDB25E;
    }

    #grid-section-title .nav > li > a.inprogress {
        border-bottom-color: #2AB0DD;
    }

    #grid-section-title .nav > li > a.pending {
        border-bottom-color: #ff0000;
    }

    #grid-section-title .nav > li > a.delivered {
        border-bottom-color: #4cae4c;
    }

    .projects-status-container li.active > a:hover, .projects-status-container li.active > a:focus {
        color: #000;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: #CECECE !important;
    }
</style>

<style scoped>
    #app >>> #major-content-container {
        padding-left: 0px;
        margin-top: 0px !important;
    }
</style>

