<template>
    <div id="projects-index" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="row">
            <h2 class="grid-section-title">
                <span class="pull-right">
                    <span class="dropdown">
                        <button id="projects-index-filter"
                                data-toggle="dropdown"
                                class="btn btn-link note"
                        >
                            Show {{ projectsFilter }} projects
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" @click.prevent="projectsFilter = 'all'">
                                All Projects
                                </a>
                            </li>
                            <li>
                                <a href="#" @click.prevent="projectsFilter = 'active'">
                                Only Active Projects
                                </a>
                            </li>
                            <li>
                                <a href="#" @click.prevent="projectsFilter = 'archived'">
                                Only Archived Projects
                                </a>
                            </li>
                        </ul>
                    </span>
                </span>
                <create-project v-if="userPermissions['project.create']"></create-project>
                
                <span v-else>
                    Projects
                </span>
            </h2>
        </div>
        
        <projects-grid-list :projects="activeProjects"
                            v-if="projectsFilter == 'all' || projectsFilter == 'active'"
        ></projects-grid-list>
        <h2 class="grid-section-title"
            v-if="archivedProjects.length > 0 && (projectsFilter == 'all' || projectsFilter == 'archived')"
        >
            Archived Projects
        </h2>
        <projects-grid-list :projects="archivedProjects"
                            v-if="projectsFilter == 'all' || projectsFilter == 'archived'"
        ></projects-grid-list>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    
    const ProjectsGridList = require('./ProjectsGridList.vue');
    const CreateProject = require('./CreateProject.vue');
    
    export default {
        name: 'ProjectsIndex',
        data() {
            return{
                projectsFilter: 'all'
            }
        },
        mounted() {
            initJqueryPlugins();
        },
        computed: {
            ...mapGetters({
                activeProjects: 'activeProjects',
                archivedProjects: 'archivedProjects',
                userPermissions: 'userPermissions'
            })
        },
        methods: {
            //
        },
        components: {
            ProjectsGridList,
            CreateProject
        }
    }
</script>
<style scoped>
    .grid-section-title {
        padding-left: 15px;
    }
    .btn .glyphicon {
        margin-right: 5px
    }
</style>
