<template>
    <div>
        <div class="messages col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
            <div v-for="group in messagesGroups" v-if="groupHasActiveMessages(group[1])">
                <div class="group-date">
                    <span>{{ group[0] | date("dddd, MMMM Do YYYY") }}</span>
                </div>
                <div v-for="message in group[1]" :key="message.id">
                    <message-item :message="message"></message-item>
                </div>
            </div>
    
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import _ from 'lodash'
    
    const MessageItem = require('./ProjectMessageGridItem.vue');
    
    export default{
        name: 'MessagesList',
        props: ['messages'],
        data(){
            return{
                //
            }
        },
        computed: {
            ...mapGetters({
                projectActiveService: 'projectActiveService'
            }),
            messagesGroups() {
                let groups =  _.groupBy(
                    this.messages,
                    function(msg) {
                        let dateFilter = Vue.filter('date');
                        return dateFilter(msg.updated_at.date, "YYYY-MM-DD", 'YYYY-MM-DD HH:mm:ss');
                    });
                return _.toPairs(groups);
            }
        },
        methods: {
            groupHasActiveMessages(messages) {
                if (!this.projectActiveService) {
                    return true
                }
                return messages.filter(message => {
                    for (let service of message.services) {
                        if (service.id === this.projectActiveService.pivot.id) {
                            return true
                        }
                    }
                    return false;
                }).length > 0;
            }
        },
        components: {
            MessageItem
        }
    }
</script>
