<template>
  <div>
    <div class="content-box">
      <div class="panel panel-default borderless flat">
        <div class="panel-body project-info">
          
          <div class="project-thumb">
            <img :src="project.image" v-if="project.image">
            <div class="project-color"
                 :style="{'background-color': project.color}"
                 v-else></div>
          </div>
          
          <div class="project-description">
            <div class="section-title">
              project
            </div>
            <h1 class="title">{{ project.name }}</h1>
            <p class="project-client">{{ project.company.name }}</p>
            <p class="project-client-name small">
              <i class="glyphicon glyphicon-user"></i>
              {{ project.client.name }}
            </p>
          </div>
          
          <div class="project-leaders">
            <div class="section-title">
              Leaders
            </div>
            <p>
              <span class="bold">Project Manager: </span>
              <span v-if="!showPmEdit && project.permissions['project.update']">
                {{ project.manager.name }}
                <a href="#" class="edit text-info" @click.prevent="showPmEdit = true">
                  <i class="glyphicon glyphicon-pencil"></i>
                </a>
              </span>
              <span class="form-inline" v-show="showPmEdit && project.permissions['project.update']">
                <div class="input-group input-group-sm">
                  <select id="change-project-pm"
                          :disabled="formInProgress"
                          v-model="pm_id"
                          class="form-control input-sm">
                    <option v-for="manager in managersList" :value="manager.id">
                      {{ manager.name }}
                    </option>
                  </select>
                  <span class="input-group-btn">
                    <button @click.prevent="showPmEdit = false"
                            class="btn btn-default"
                            title="Cancel"
                            :disabled="formInProgress"
                    >
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <button @click.prevent="changePm"
                            class="btn btn-success"
                            title="Update"
                            :disabled="formInProgress"
                    >
                      <i class="glyphicon glyphicon-repeat fast-right-spinner"
                         v-if="formInProgress"></i>
                      <i class="glyphicon glyphicon-ok" v-else></i>
                    </button>
                  </span>
                </div>
              </span>
            </p>
            <p>
              <span class="bold">Technical Control: </span> {{ project.tech_lead.name }}
            </p>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    
    export default{
        name: 'ProjectBasicInfo',
        props: ['project'],
        data(){
            return {
                showPmEdit: false,
                pm_id: null,
                formInProgress: false
            }
        },
        computed: {
            ...mapGetters({
                managersList: 'managersList',
            }),
        },
        mounted() {
            this.pm_id = this.project.manager.id
        },
        methods: {
            ...mapActions([
                'updateProject',
            ]),
            changePm() {
                if (this.project.manager.id !== this.pm_id) {
                    this.formInProgress = true;
                    this.updateProject({
                        projectId: this.project.id,
                        data: {
                            pm_id: this.pm_id
                        }
                    })
                        .then(response => this.closePmEdit())
                        .catch(error => {
                            console.log(error)
                            this.closePmEdit()
                        })
                }
                else {
                    this.closePmEdit()
                }
            },
            closePmEdit() {
                this.showPmEdit = false
                this.formInProgress = false
            }
        }
    }
</script>
