<template>

    <div class="project-box" :class="cssClasses">

        <div class="row row-container" @click="goToProject(project.id)">

            <div class="project-logo">
                <img v-if="project.image && project.image != null && project.image.length > 0"
                     :src="locationOrigin+'/'+project.image"/>
                <img v-if="!project.image || project.image == null || project.image.length == 0"
                     :src="defaultProjectLogo"/>
            </div>

            <div class="col-sm-12 project-name ">
                <h1>{{ project.name }}</h1>
            </div>


            <div class="col-sm-12 project-progress">
                <i class="fa fa-caret-down"></i> Milestone Phase :
                <div class="milestone-name text-center">
                    First milestone
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="col-sm-12 project-remaining text-left" :class="project.status">
                    <span>
                        <!-- v-if="project.status != 'pending' && project.status != 'delivered'" -->
                    {{ remainingDays }}
                  </span>
            </div>
            <div class="col-sm-8 project-last-updated footer-container">
                <span>Last updated&nbsp; {{ lastUpdated | date }} </span>
            </div>

            <div class="col-sm-4 project-status-icon footer-container text-right">
                  <span v-if="project.status == 'archived'">
                    <img src="images/icons/svg/archive-solid.svg"/>
                  </span>
                <span v-else-if="project.status == 'delivered'">
                    <img src="images/icons/svg/check-circle-regular-gray.svg"/>
                  </span>
                <span v-else-if="project.status == 'pending'">
                    <img src="images/icons/svg/pencil-ruler-solid-gray.svg"/>
                  </span>
                <span v-else-if="project.status == 'paused'">
                    <img src="images/icons/svg/pause-circle-solid-gray.svg"/>
                  </span>
                <span v-else-if="project.status == 'due'">
                    <img src="images/icons/svg/exclamation-triangle-solid-gray.svg"/>
                  </span>

                <span v-else-if="project.status == 'inprogress' || project.status == 'in-progress'">
                    <img src="images/icons/svg/sync-alt-solid-gray.svg"/>
                  </span>
                <span v-else-if="project.status == 'support'">
                    <img src="images/icons/svg/bug-solid-gray.svg"/>
                  </span>

            </div>

        </div>

    </div>

</template>
<style>
    .project-box {
        border: 1px solid #999999;
        border-radius: 7px;
        background: #fff;
        margin-bottom: 10px;
        cursor: pointer;
        height: 310px;
    }

    .project-box .row-container {
        padding: 20px 20px 0 20px;
    }

    .project-box .footer {
        height: 70px;
        padding-top: 25px;
    }

    .project-box .footer i {
        font-size: 28px;
    }

    .project-box .footer .footer-container {
        padding: 0 5px;
    }

    .project-box img {
        width: 70% !important;
    }

    .project-logo {
        height: 90px;
    }

    .project-progress {
        font-size: 16px;
    }

    .project-progress .milestone-name {
        font-size: 15px;
        font-weight: bold;
        margin-top: 5px;
    }

    .project-progress i {
        font-size: 20px;
    }

    .project-progress span.filled {
        background: #000;
    }

    .project-progress span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid #000;
        border-radius: 10px;
        margin: 3px;
        margin-top: 20px;
    }

    .project-box .project-last-updated {
        text-align: left;
        font-size: 12px;
        color: #524e4f;
        margin-top: 0px;
    }

    /*

    .project-box.due {
        border-top-color: #FDB25E;
    }

    .project-box.inprogress {
        border-top-color: #2AB0DD;
    }

    .project-box.pending {
        border-top-color: #ff0000;
    }

    .project-box.delivered {
        border-top-color: #4cae4c;
    }

    */

    .project-status-icon {
        position: relative;
        top: -15px;
    }

    .project-status-icon img{
        width: 27px !important;
    }

    .project-remaining {
        font-size: 200%;
        text-align: left;
        margin-top: 15px;
    }

    .project-remaining.due {
        color: #FDB25E;
    }

    .project-remaining.in-progress {
        color: #2AB0DD;
    }

    .project-remaining.pending {
        color: #ff0000;
    }

    .project-remaining.delivered {
        color: #4cae4c;
    }

    .project-box .project-name h1 {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .project-box .company-name h3 {
        margin-top: 10px;
        color: #86878D;
    }

    .project-box .project-start {
        color: #C1C0C4;
        text-align: right;
        font-size: large;
    }

    .project-box .project-start p {
        font-size: 65%;
        margin: 0;
    }

    .project-box .project-status {
        font-size: 200%;
        color: #FDB25E;
        text-align: center;
    }

    .project-logo {
        clear: both;
    }
</style>
<script>
    export default {
        name: 'ProjectListItem',
        props: ['project'],
        data() {
            var locationOrigin = document.location.origin;
            return {
                locationOrigin: locationOrigin,
                defaultProjectLogo: locationOrigin + "/images/project_logo_placeholder.png"
            }
        },
        computed: {
            cssClasses: function () {
                let classes = {};
                switch (this.project.status.toLowerCase()) {
                    case 'archived':
                        classes['archived'] = true;
                        break;
                    case 'due':
                        classes['due'] = true;
                        break;
                    case 'pending':
                        classes['pending'] = true;
                        break;
                    case 'delivered':
                        classes['delivered'] = true;
                        break;
                    case 'in-progress':
                        classes['inprogress'] = true;
                        break;
                    default:
                        classes['default'] = true;
                }
                return classes;
            },
            progressIndicator() {
                return [8, 10];
            },
            lastUpdated() {
                if (!this.project.updated_at) {
                    return this.project.created_at.date;
                } else {
                    return this.project.updated_at.date;
                }
            },
            remainingDays() {
                let final = this.project.date_final.indexOf('-') >= 0 ?
                    this.project.date_final.split('-') : this.project.date_final.split('/');
                let final_date = moment([parseInt(final[0]), parseInt(final[1]) - 1, parseInt(final[2])]);
                let remaining = moment().diff(final_date, 'months');
                let unit = 'M'
                if (parseInt(remaining) === 0) {
                    remaining = moment().diff(final_date, 'weeks');
                    unit = 'W'
                    if (parseInt(remaining) === 0) {
                        remaining = moment().diff(final_date, 'days');
                        unit = 'D'
                    }
                }
                return remaining + unit
            },
            projectReplyDelay() {
                if (!this.project.not_replied) return null

                let momentFilter = Vue.filter('moment');
                let lastMessageDate = momentFilter(this.project.not_replied.date, 'YYYY-MM-DD HH:mm:ss');
                let delay = moment().diff(lastMessageDate, 'days');

                if (delay < 0) {
                    return null
                }

                if (delay >= 3) {
                    return "!!!"
                }

                if (delay > 1) {
                    return "!!"
                }

                if (delay === 1) {
                    return "!"
                }

            }
        },
        methods: {
            goToProject(id) {
                this.$router.push({name: 'ProjectShow', params: {id: id}});
            },
        }
    }
</script>
