<template>
  <div>
    <h1>
      Budget:
      <a @click.prevent="showBudgetEditForm = true"
         href="#"
         class="label label-default"
         v-show="!showBudgetEditForm"
      >
        {{ budget }} SAR
      </a>
      <span class="form-inline" v-show="showBudgetEditForm">
        <div class="input-group input-group-sm">
          <input class="form-control" v-model="budget"
                 step="0.01"
                 :disabled="budgetFormLoading">
          <span class="input-group-btn">
            <button @click.prevent="closeBudgetEdit"
                    class="btn btn-default"
                    title="Cancel"
                    :disabled="budgetFormLoading"
            >
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button @click.prevent="updateBudget"
                    class="btn btn-success"
                    title="Update"
                    :disabled="budgetFormLoading || (isNaN(parseFloat(budget)) && !isFinite(budget))"
            >
              <i class="glyphicon glyphicon-repeat fast-right-spinner"
                 v-if="budgetFormLoading"></i>
              <i class="glyphicon glyphicon-ok" v-else></i>
            </button>
          </span>
        </div>
      </span>
      <span class="pull-right">
        Balance:
        <span :class="'label label-' + balanceStatus">
          {{ project.budget_balance }} SAR
        </span>
      </span>
    </h1>
    
    <br/>
    
    <div class="row well">
      <form @submit.prevent="addExpense">
        <div class="col-sm-6">
          <input class="form-control" v-model="newExpense.description"
                 placeholder="Expense description here"
                 required
                 :disabled="budgetFormLoading"
          >
        </div>
        <div class="col-sm-2">
          <input class="form-control" v-model="newExpense.cost"
                 :disabled="budgetFormLoading" type="number"
                 step="0.01" required>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-lg btn-success"
                  :disabled="budgetFormLoading">
            <i class="glyphicon glyphicon-repeat fast-right-spinner"
               v-if="budgetFormLoading"></i>
            Add to expenses
          </button>
        </div>
      </form>
    
    </div>
    
    <table class="table table-striped" v-if="project.expenses">
      <thead>
      <tr>
        <th>Description</th>
        <th>cost</th>
        <th></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <td :style="totalBackground">Total</td>
        <td :style="totalBackground">
          {{ totalExpenses }} SAR
        </td>
        <td :style="totalBackground"></td>
      </tr>
      </tfoot>
      <tbody>
      <tr v-for="expense in project.expenses">
        <td>
          {{ expense.description }}
        </td>
        <td>
          {{ expense.cost }} SAR
        </td>
        <td>
          <a class="text-danger" href="#"
                  title="Delete this expense"
                  @click.prevent="deleteExpense(expense.id)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  
  </div>
</template>
<script>
    import { mapActions } from 'vuex'
    
    export default{
        name: 'ProjectBudget',
        props: ['project'],
        data(){
            return {
                showBudgetEditForm: false,
                budget: this.project.budget ? this.project.budget : 0.00,
                newExpense: {
                    description: null,
                    cost: 0.00
                },
                budgetFormLoading: false
            }
        },
        computed: {
            balanceStatus() {
                // > 50%
                if (this.project.budget_balance > (this.project.budget / 2))
                    return 'success';
                // > 0
                if (this.project.budget_balance > 0)
                    return 'warning';
                
                return 'danger';
                
            },
            totalExpenses() {
                if (this.project.expenses) {
                    return this.project.expenses.reduce(function (pre, current) {
                        return parseFloat(pre) + parseFloat(current.cost);
                    }, 0)
                }
                return 0
            },
            totalBackground() {
                let style = {
                    'background-color': '#ef4036'
                };
                switch (this.balanceStatus) {
                    case 'success':
                        style['background-color'] = '#38B449'
                        break;
                    case 'warning':
                        style['background-color'] = 'orange'
                        break;
                }
                
                return style;
            }
        },
        methods: {
            ...mapActions([
                'updateProject',
                'addProjectExpense',
                'deleteProjectExpense'
            ]),
            updateBudget() {
                if (this.budget) {
                    this.budgetFormLoading = true;
                    this.updateProject({
                        projectId: this.project.id,
                        data: {budget: this.budget}
                    })
                        .then(response => {
                            this.closeBudgetEdit();
                            this.budget = response.project.budget;
                        })
                    
                } else {
                    this.closeBudgetEdit();
                    console.log('submitting empty budget for update!!')
                }
            },
            deleteExpense(id) {
                this.deleteProjectExpense({
                    projectId: this.project.id,
                    expenseId: id
                });
            },
            closeBudgetEdit() {
                this.showBudgetEditForm = false;
                this.budgetFormLoading = false;
            },
            addExpense() {
                if (!this.newExpense.description) {
                    //
                }
                if (!this.newExpense.cost) {
                    //
                }
                if (this.newExpense.description && this.newExpense.cost) {
                    this.budgetFormLoading = true;
                    let data = {
                        projectId: this.project.id,
                        data: {
                            description: this.newExpense.description,
                            cost: this.newExpense.cost
                        }
                    }
                    this.addProjectExpense(data).then(response => {
                        this.newExpense.description = null;
                        this.newExpense.cost = 0.00;
                        this.budgetFormLoading = false;
                    })
                }
            }
        }
    }
</script>
