<template>
    <div>
        <div class="row content-box">
            <div class="panel panel-default borderless flat" style="margin-bottom: 0">
                <div class="panel-body">
                
                    <div class="section-title">team</div>
                
                    <div class="row project-team">
                    
                        <div class="team-member"
                             v-if="!projectActiveService || (member.pivot.project_service_id && projectActiveService.pivot.id === member.pivot.project_service_id)"
                             v-for="member in project.members">
                            <a href="#"
                               class="member-remove"
                               @click.prevent="removeMember(member)"
                               v-if="project.permissions['project.update']">
                                <span class="icon-sm icon-remove-dark"></span>
                            </a>
                            <div class="avatar-circle" :style="{'background-color': member.color}">
                                <span class="initials">{{ member.initials }}</span>
                            </div>
                            <div class="member-info">
                                <div class="name">{{ member.name }}</div>
                                <div class="title">{{ member.role_description }}</div>
                                <div class="service note">{{ serviceName(member) }}</div>
                            </div>
                        </div>
                    
                        <div class="team-member" v-if="project.permissions['project.update']">
                            <a href="#"
                               class="member-add"
                               id="add-project-member-popover"
                               v-popover="addPopOptions"
                            >
                                <span class="icon-lg icon-create"></span>
                            </a>
                            <div id="member-add-popover-content" class="webui-popover-content">
                                <div class="content-padding">
                                    <h1>Add member</h1>
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <autocomplete
                                                @selected="newMemberSelected"
                                                id="member-name"
                                                cssClasses="form-control"
                                                name="members"
                                                placeholder="Ex: Mohamed"
                                                :url="membersList"
                                                anchor="name"
                                                label="id"
                                                model="newMemberName">
                                            </autocomplete>
                                        </div>
                                        <br>
                                        <div class="row member-small-box" v-if="newMemberData">
                                            <div class="avatar-circle" :style="{'background-color': newMemberData.color}">
                                                <span class="initials">{{ newMemberData.initials }}</span>
                                            </div>
                                            <div class="name"> {{ newMemberData.name }}</div>
                                        </div>
                
                                        <br>
                                        <div class="selected-service">
                                            Selected Service:
                                            <strong v-if="projectActiveService">{{ projectActiveService.name }}</strong>
                                            <strong v-else>None</strong>
                                        </div>
                                        <br>
                                        <button class="btn btn-block btn-success btn-lg"
                                                @click="addNewMember('#add-project-member-popover')">
                                            Add
                                        </button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                
                
                    </div>
            
                </div>
            </div>
        </div>
        <modal v-if="showDeleteModal">
            <div slot="body">
                You are going to remove `<b>{{ toRemoveMemberData.name }}</b>` member
                from the project.
                <br>
                <br>
                <h3>Yes, Remove `<b>{{ toRemoveMemberData.name }}</b>` member!</h3>
            </div>
            <h3 slot="header" class="text-danger">Remove a member!</h3>
            <div slot="footer">
                <button class="btn btn-default btn-link cancel" @click="cancelRemoveMember">
                    Cancel
                </button>
                <button class="btn btn-default" @click="confirmedRemoveMember">
                    OK
                </button>
            </div>
        </modal>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'

    const Modal = require('../common/VueModal.vue');
    
    const Autocomplete = require('../common/VueAutocomplete.vue');
    
    export default{
        name: 'ProjectTeamGrid',
        props: ['project'],
        data(){
            return{
                newMemberName: null,
                newMemberData: null,
                toRemoveMemberData: null,
                showDeleteModal: false,
                addPopOptions: {
                    trigger: 'click',
                    placement: 'auto',
                    closeable: true,
                    animation: 'pop',
                    dismissible:false
                },
            }
        },
        computed: {
            ...mapGetters({
                projectActiveService: 'projectActiveService',
                membersList: 'membersList'
            })
        },
        methods: {
            ...mapActions({
                addProjectMember: 'addProjectMember',
                removeProjectMember: 'removeProjectMember',
            }),
            serviceName(member) {
                for (let service of this.project.services) {
                    if (service.pivot.id === member.pivot.project_service_id) return service.name;
                }
            },
            newMemberSelected(data) {
                this.newMemberData = data;
            },
            addNewMember(boxEl) {
                if (this.newMemberData) {
                    if (this.projectActiveService) {
                        this.newMemberData['project_service_id'] = this.projectActiveService.pivot.id;
                    }
                    this.addProjectMember({projectId: this.project.id, data: this.newMemberData});
                }
                $(boxEl).webuiPopover('hide');
            },
            removeMember(member) {
                this.toRemoveMemberData = member;
                this.showDeleteModal = true;
            },
            cancelRemoveMember() {
                this.showDeleteModal = false;
                this.toRemoveMemberData = null;
            },
            confirmedRemoveMember() {
                this.showDeleteModal = false;
                this.removeProjectMember({
                    projectId: this.project.id,
                    projectMemberId: this.toRemoveMemberData.id,
                    projectServiceId: this.toRemoveMemberData.pivot ? this.toRemoveMemberData.pivot['project_service_id'] : null
                });
                this.toRemoveMemberData = null;
            },
        },
        components:{
            Autocomplete,
            Modal
        }
    }
</script>
