<template>
    <div>
        <div class="row content-box">
            <div class="panel panel-default borderless flat">
                <div class="panel-body">
                
                    <div class="tab-content">
                    
                        <div id="messages-tab-content" class="tab-pane active">

                        
                            <!--
                            <add-message-form :project="project"
                                              tab="team"
                                              messageForm="true"
                                              actionForm="true"
                                              v-if="project.permissions['message.create'] || project.permissions['action.create']">
                            </add-message-form>

                            <project-messages :messages="project.messages"></project-messages>

                            -->


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</template>
<script>
    const AddMessageForm = require('./AddMessageForm.vue');
    const ProjectMessages = require('./MessagesList.vue');
    
    export default{
        name: 'ProjectTabs',
        props: ['project'],
        data(){
            return{
                //
            }
        },
        mounted() {
            //
        },
        methods: {
            //
        },
        components:{
            AddMessageForm,
            ProjectMessages,
        }
    }
</script>
