<template>
  <div>
    <div class="row content-box"
         v-if="(project.services && project.services.length > 0) || project.permissions['project.update']">
      <div class="outer-section-title">
        Services
      </div>
      
      <div class="row services-boxes">
        
        <div :class="cssClasses(service)"
             :id="'service-box-' + service.pivot.id"
             v-for="service in project.services"
             v-if="project.services && project.services.length > 0"
        >
          
          <div class="actions" v-if="project.permissions['project.update']">
            <a href="#"
               title="Remove"
               @click.prevent="removeService(service, '#service-box-' + service.pivot.id)">
              <span class="icon-sm icon-remove-dark"></span>
            </a>
            <a href="#"
               :id="'edit-service-' + service.pivot.id"
               class="service-edit"
               @click="updateServiceInEdit(service, service.pivot)"
               v-popover="editPopOptions">
              <span class="icon-sm icon-edit-dark"></span>
            </a>
            <div :id="'popover-content-edit-service-' + service.pivot.id"
                 class="webui-popover-content">
              <div class="content-padding">
                <h1>Edit Service: {{ service.name }}</h1>
                <form class="form-horizontal"
                      :id="'edit-service-' + service.pivot.id + '-form'"
                      @submit.prevent="updateService('#edit-service-' + service.pivot.id)"
                >
                  <div class="form-group">
                    <label for="service-id-edit">Service</label>
                    <select id="service-id-edit"
                            v-model="serviceInEdit.service_id"
                            class="form-control">
                      <option v-for="serviceItem in servicesList"
                              :value="serviceItem.id"
                      >
                        {{ serviceItem.name }}
                      </option>
                    </select>
                  </div>
                  
                  <div class="form-group has-feedback">
                    <label>Start date</label>
                    <date-picker :date="serviceInEdit.start" :option="datepickerOptions"></date-picker>
                    <span class="icon icon-calendar-dark form-control-feedback"></span>
                  </div>
                  
                  <div class="form-group has-feedback">
                    <label>Finish date</label>
                    <date-picker :date="serviceInEdit.finish" :option="datepickerOptions"></date-picker>
                    <span class="icon icon-calendar-dark form-control-feedback"></span>
                  </div>
                  
                  <div class="form-group">
                    <label for="status-id-edit">Status</label>
                    <select id="status-id-edit"
                            class="form-control"
                            v-model="serviceInEdit.status"
                    >
                      <option v-for="name, status in statuses" :value="status">
                        {{ name }}
                      </option>
                    </select>
                  </div>
                  
                  <br>
                  <button class="btn btn-block btn-success btn-lg">Update</button>
                  <p class="help-block">
                    all fields are required.
                  </p>
                </form>
              </div>
            </div>
          </div>
          
          <div class="info"
               @click="setProjectActiveService(service)">
            <h1>{{ service.name }}</h1>
            <p class="status">{{ serviceStatus(service) }}</p>
            <p class="date">
              {{ service.pivot.date_finish | date }}
            </p>
          </div>
        </div>
        
        <div class="service-box-add service-add"
             v-if="project.permissions['project.update']">
          <div v-popover="addPopOptions" :id="'add-service-box-' + project.id">
            <h1>+</h1>
            <h1>Add</h1>
            <h1>Service</h1>
          </div>
          <div :id="'popover-content-add-service-' + project.id"
               class="webui-popover-content">
            <div class="content-padding">
              <h1>Add Service</h1>
              <form class="form-horizontal"
                    :id="'add-service-box-' + project.id + '-form'"
                    @submit.prevent="addService('#add-service-box-' + project.id)"
              >
                <div class="form-group">
                  <label for="service-id">Service</label>
                  <select id="service-id"
                          v-model="newService.service_id"
                          class="form-control">
                    <option v-for="serviceItem in servicesList"
                            :value="serviceItem.id"
                    >
                      {{ serviceItem.name }}
                    </option>
                  </select>
                </div>
                
                <div class="form-group has-feedback" :class="{'has-error': newServiceErrors.date_start}">
                  <label>Start date</label>
                  <date-picker :date="newService.start" :option="datepickerOptions"></date-picker>
                  <span class="icon icon-calendar-dark form-control-feedback"></span>
                  <p class="help-block text-danger" v-if="newServiceErrors.date_start">
                    {{ newServiceErrors.date_start[0] }}
                  </p>
                </div>
                
                <div class="form-group has-feedback" :class="{'has-error': newServiceErrors.date_finish}">
                  <label>Finish date</label>
                  <date-picker :date="newService.finish" :option="datepickerOptions"></date-picker>
                  <span class="icon icon-calendar-dark form-control-feedback"></span>
                  <p class="help-block text-danger" v-if="newServiceErrors.date_finish">
                    {{ newServiceErrors.date_finish[0] }}
                  </p>
                </div>
                
                <div class="form-group">
                  <label for="status-id">Status</label>
                  <select id="status-id"
                          class="form-control"
                          v-model="newService.status"
                  >
                    <option v-for="name, status in statuses" :value="status">
                      {{ name }}
                    </option>
                  </select>
                </div>
                
                <br>
                <button class="btn btn-block btn-success btn-lg">Add</button>
                <p class="help-block">
                  all fields are required.
                </p>
              </form>
            </div>
          </div>
        </div>
      
      </div>
    </div>
    <modal v-if="showDeleteModal">
      <div slot="body">
        You are going to remove `<b>{{ toRemoveService.name }}</b>` service
        from the project, that would delete all messages and actions.
        <br>
        <br>
        <h3>Yes, Remove `<b>{{ toRemoveService.name }}</b>` service!</h3>
      </div>
      <h3 slot="header" class="text-danger">Remove a service!</h3>
      <div slot="footer">
        <button class="btn btn-default btn-link cancel" @click="cancelRemoveService">
          Cancel
        </button>
        <button class="btn btn-default" @click="confirmedRemoveService">
          OK
        </button>
      </div>
    </modal>
  </div>
</template>
<script type="text/babel">
  import {mapActions, mapGetters} from 'vuex'
  import vueDatepicker from 'vue-datepicker'
  
  const Modal = require('../common/VueModal.vue');
  
  export default{
    name: 'ProjectServices',
    props: ['project', 'statuses'],
    data(){
      return {
        newService: {
          status: 'in-progress',
          start: {},
          finish: {},
          service_id: '1'
        },
        newServiceErrors: {},
        serviceInEdit: {
          status: '',
          start: {},
          finish: {},
          service_id: '1',
          service_pivot_id: '1',
          name: ''
        },
        serviceInEditErrors: {},
        addPopOptions: {
          trigger: 'click',
          placement: 'auto', //bottom-right
          closeable: true,
          animation: 'pop',
          dismissible: false
        },
        editPopOptions: {
          trigger: 'click',
          placement: 'auto', //bottom-right
          closeable: true,
          animation: 'pop',
          dismissible: false
        },
        datepickerOptions: {
          type: 'day',
          week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
          month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          format: 'YYYY/MM/DD',
          inputStyle: {
            'box-shadow': 'none',
            'padding': '6px 12px',
            'padding-left': '20px',
            'padding-right': '50px',
            'font-size': '110%',
            'display': 'block',
            'width': '100%',
            'height': '40px',
            'line-height': '14px',
            'color': '#57626d',
            'background-color': '#EEF1F6',
            'background-image': 'none',
            'border': '1px solid #EEF1F6',
            'border-radius': '4px',
            '-webkit-transition': 'border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s',
            'transition': 'border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s',
          },
          color: {
            header: '#434E60', //'#D82A4C'
            headerText: '#F6F7F9'
          },
          buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
          },
          overlayOpacity: 0.5, // 0.5 as default
          dismissible: true // as true as default
        },
        showDeleteModal: false,
        toRemoveService: null
      }
    },
    computed: {
      ...mapGetters({
        projectActiveService: 'projectActiveService',
        servicesList: 'servicesList'
      })
    },
    methods: {
      ...mapActions([
        'addProjectService',
        'removeProjectService',
        'updateProjectService',
        'setProjectActiveService'
      ]),
      updateServiceInEdit(service) {
        let serviceInEdit = JSON.parse(JSON.stringify(this.serviceInEdit));
        serviceInEdit.service_id = service.id;
        serviceInEdit.id = service.pivot.id;
        serviceInEdit.name = service.name;
        serviceInEdit.status = service.pivot.status.replace(/\s/g, '-').toLowerCase();
        serviceInEdit.start.time = moment(service.pivot.date_start, 'YYYY-MM-DD').format('YYYY/MM/DD');
        serviceInEdit.finish.time = moment(service.pivot.date_finish, 'YYYY-MM-DD').format('YYYY/MM/DD');
  
        this.serviceInEdit = serviceInEdit;
      },
      updateService(boxEl) {
        //this.serviceInEdit;
        this.serviceInEdit.date_start = this.serviceInEdit.start.time;
        this.serviceInEdit.date_finish = this.serviceInEdit.finish.time;
        this.updateProjectService({
          projectId: this.project.id,
          service: this.serviceInEdit
        }).then(response => {
          $(boxEl).webuiPopover('hide');
        }).catch(error => {
          if (error.status === 422) {
            this.serviceInEditErrors = error.body;
          } else {
            $(boxEl).webuiPopover('hide');
          }
          
        });
        
      },
      removeService(service, boxEl) {
        this.toRemoveService = service;
        this.showDeleteModal = true;
      },
      cancelRemoveService() {
        this.showDeleteModal = false;
        this.toRemoveService = null;
      },
      confirmedRemoveService() {
        this.showDeleteModal = false;
        this.removeProjectService({
          projectId: this.project.id,
          projectServiceId: this.toRemoveService.pivot.id
        });
        this.toRemoveService = null;
        //$(boxEl).remove();
      },
      addService(boxEl) {
        if (!this.newService.start.time || !this.newService.finish.time) {
          let errors = JSON.parse(JSON.stringify(this.newServiceErrors));
          if (!this.newService.start.time) {
            errors.date_start = ['Service start date can\'t be empty.'];
          } else if (errors.date_start) {
            delete errors.date_start;
          }
          if (!this.newService.finish.time) {
            errors.date_finish = ['Service finish date can\'t be empty.'];
          } else if (errors.date_finish) {
            delete errors.date_finish;
          }
          this.newServiceErrors = errors;
          return;
        }
        //this.newService;
        this.newService.date_start = this.newService.start.time;
        this.newService.date_finish = this.newService.finish.time;
        this.addProjectService({
          projectId: this.project.id,
          newService: this.newService
        }).then(response => {
          $(boxEl).webuiPopover('hide');
        }).catch(error => {
          if (error.status === 422) {
            this.newServiceErrors = error.body;
          } else {
            $(boxEl).webuiPopover('hide');
          }
        });
      },
      serviceStatus(service) {
        return service.pivot.status.replace(/-/g, ' ');
      },
      cssClasses(service) {
        let cssClasses = {'service-box': true};
        switch (service.pivot.status.toLowerCase()) {
          case 'archived':
            cssClasses['archived'] = true;
            break;
          case 'due':
            cssClasses['due'] = true;
            break;
          case 'pending':
            cssClasses['pending'] = true;
            break;
          case 'delivered':
            cssClasses['delivered'] = true;
            break;
          case 'in-progress':
            cssClasses['in-progress'] = true;
            break;
          case 'in progress':
            cssClasses['in-progress'] = true;
            break;
        }
        if (this.projectActiveService && this.projectActiveService.pivot.id === service.pivot.id) {
          cssClasses['highlight'] = true;
        }
        return cssClasses;
      },
    },
    components: {
      'date-picker': vueDatepicker,
      Modal
    }
  }
</script>
