<template>
<span>
            <div class="project-item col-md-3 col-sm-2" v-for="project in projects">
                <project-list-item v-if="project && project.id" :project="project"></project-list-item>
            </div>

</span>
</template>
<style>
    #project-sections-tabs.row.content-box {
        margin-top: 30px;
    }
</style>
<script>
    const ProjectListItem = require('./ProjectListItem.vue');

    export default {
        name: 'ProjectsList',
        props: ['projects'],
        data() {
            var locationOrigin = document.location.origin;
            return {
                locationOrigin: locationOrigin,
                defaultClientLogo: locationOrigin + "/images/project_logo_placeholder.png"
            }
        },
        components: {
            ProjectListItem
        }
    }
</script>
