<template>
    <div>
        <div class="row content-box project-view-top-bar">
            <project-tabs :project="project" v-if="project.permissions['project.update']"></project-tabs>
            <div class="project-status-bar">
                <div class="icon-container">
                    <img :src="calendarIcon" width="30"/>
                </div>
                <div class="status">
                    <div class="date">{{ project.date_start | date }}</div>
                    <div class="title">Kick-Off</div>
                </div>
                <div class="separator">
                    <img :src="circleIcon"/>
                    <img :src="minusIcon"/>
                    <img :src="minusIcon"/>
                    <img :src="minusIcon"/>
                    <img :src="circleIcon"/>
                </div>
                <div class="status">
                    <div class="date">{{ project.date_final | date }}</div>
                    <div class="title">Estimated end</div>
                </div>
                <div class="padding"></div>
                <div class="icon-container">
                    <img :src="paperclipIcon" width="30"/>
                </div>
                <div class="documents" v-popover="filesPopOptions" title="project files">
                    <div class="title">Documents</div>
                    <div class="count">
                        <span>{{ projectFiles.length }} files</span>
                    </div>
                </div>
                <div id="popover-project-files" class="webui-popover-content">
                    <div class="list-group">
                        <li v-for="file in projectFiles"
                            class="list-group-item">
                            <a :href="'/' + file.path"
                               class="pull-right"
                               title="download"
                               target="_blank">
                                <i class="glyphicon glyphicon-floppy-save"></i>
                            </a>
                            <a href="#"
                               title="see the message"
                               @click.prevent="goTo('project-message-' + file.id, file.visibility)">
                                {{ file.name }}
                            </a>
                        </li>
                    </div>
                </div>
                <div class="padding"></div>
                <!--
                <div class="icon" v-if="project.permissions['project.update']">
                  <img src="/images/icons/logo-icon-jira.svg" width="32px"/>
                </div>

                <div id="jira-link"
                     v-if="project.permissions['project.update']"
                     v-popover="JiraLinkPopOptions"
                     @click="getJiraProjects">
                  <div id="jira-linked-project" v-if="project.jira_key">
                    <div class="title" v-if="project.jira_name">
                      {{ project.jira_name }}
                    </div>
                    <div class="subtitle" v-if="project.jira_key">
                      <span>{{ project.jira_key }}</span>
                    </div>
                  </div>
                  <div v-else
                       id="link-to-jira"
                  >
                    <i class="glyphicon glyphicon-link"></i>
                    Link to Jira
                  </div>
                </div>
                <div id="jira-link-projects-popover" class="webui-popover-content">
                  <div v-if="userHasJira" class="popover-content">
                    <div class="alert alert-success">
                      <i class="glyphicon glyphicon-ok"></i>
                      <span>You are linked Jira!</span>
                    </div>
                    <div class="text-center" v-if="jiraProjectsLoading">
                      <span>{{ jiraLoadingMsg }}</span>
                    </div>
                    <div v-else>
                      <h4 class="note">Choose a project</h4>
                      <div class="list-group">
                        <a v-for="jProject in jiraProjects"
                           href="#"
                           class="list-group-item"
                           @click="linkToJira(jProject)"
                        >
                          <span class="pull-right bold"
                                title="Key">
                            {{ jProject.key }}
                          </span>
                          <span>
                            {{ jProject.name }}
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="popover-content" v-else>
                    <div class="alert alert-warning">
                      <i class="glyphicon glyphicon-warning-sign"></i>
                      <span>Authenticate Jira account!</span>
                    </div>
                    <div class="text-center">
                      <a :href="apiList['jira.auth']"
                         target="_blank"
                         class="btn btn-lg btn-success"
                         :class="{'disabled': jiraAuthLoading}"
                         @click="jiraAuth"
                      >
                        <i class="glyphicon glyphicon-log-in" v-if="!jiraAuthLoading"></i>
                        <i class="glyphicon glyphicon-repeat fast-right-spinner" v-else></i>
                        Jira account
                      </a>
                    </div>
                  </div>
                </div>
                -->

            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'

    const vueScrollTo = require('vue-scrollTo');
    const ProjectTabs = require('./ProjectTabs.vue');

    export default {
        name: 'ProjectDatesAndFiles',
        props: ['project'],
        data() {
            var locationOrigin = document.location.origin;
            return {
                circleIcon: locationOrigin + "/images/icons/svg/circle-solid.svg",
                minusIcon: locationOrigin + "/images/icons/svg/minus-solid.svg",
                calendarIcon: locationOrigin + "/images/icons/svg/calendar-alt-regular.svg",
                paperclipIcon: locationOrigin + "/images/icons/svg/paperclip-solid.svg",
                filesPopOptions: {
                    trigger: 'click',
                    placement: 'auto', //bottom-right
                    closeable: false,
                    animation: 'pop',
                    dismissible: true,
                    height: 250,
                    width: 290
                },
                JiraLinkPopOptions: {
                    trigger: 'click',
                    placement: 'auto', //bottom-right
                    closeable: false,
                    animation: 'pop',
                    dismissible: true,
                    height: 250,
                    width: 290
                },
                jiraProjects: [],
                jiraProjectsLoading: false,
                jiraLoadingMsg: 'Loading from Jira ...',
                jiraAuthLoading: false,
                jiraAuthLoadingMsg: 'Authenticating with Jira ...'
            }
        },
        computed: {
            ...mapGetters({
                projectFiles: 'projectFiles',
                loggedInUser: 'loggedInUser',
                apiList: 'apiList'
            }),
            userHasJira() {
                return this.loggedInUser.has_jira &&
                    this.loggedInUser.jira_tokens.expires_at > Math.floor(Date.now() / 1000);
            }
        },
        methods: {
            ...mapActions([
                'updateProject'
            ]),
            ...mapMutations([
                'setLoggedInUser'
            ]),
            goTo(el, visibility) {
                if (visibility.visible_client) {
                    $('a[href="#client-tab-content"]').tab('show');
                }
                else if (visibility.visible_team) {
                    $('a[href="#team-tab-content"]').tab('show');
                }
                else {
                    $('a[href="#notes-tab-content"]').tab('show');
                }

                let options = {
                    easing: vueScrollTo.easing['ease-in']
                };
                vueScrollTo.scrollTo('#' + el, 300, options);
                let element = document.getElementById(el);
                element.style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
                let t = setTimeout(function () {
                    element.style.boxShadow = 'none';
                }, (10 * 1000));
            },
            getJiraProjects() {
                if (this.userHasJira) {
                    this.startJiraLoading('Loading your projects from Jira ...');
                    this.$http.get(this.apiList['jira.projects'])
                        .then(response => {
                            this.jiraProjects = response.data;
                            this.closeJiraLoading();
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            },
            linkToJira(jProject) {
                if (this.userHasJira) {
                    this.startJiraLoading('Linking project to Jira ...');
                    this.updateProject({
                        projectId: this.project.id,
                        data: {
                            jira_name: jProject.name,
                            jira_key: jProject.key
                        }
                    })
                        .then(response => {
                            this.closeJiraLoading();
                            $('#jira-link').webuiPopover('hide');
                        })
                        .catch(error => {
                            if (error.status === 401) {
                                let user = JSON.parse(JSON.stringify(this.loggedInUser))
                                user.has_jira = false
                                this.setLoggedInUser(user)
                            }

                            console.log(error)
                        });
                }
            },
            closeJiraLoading() {
                this.jiraProjectsLoading = false;
                this.jiraLoadingMsg = 'Loading from Jira ...'
            },
            startJiraLoading(msg) {
                this.jiraProjectsLoading = true;
                this.jiraLoadingMsg = msg
            },
            jiraAuth() {
                this.jiraAuthLoading = true
                // for every 5 sec check if user has authenticated with Jira
                let refreshUserStatus = setInterval(function () {
                    this.$http.get(this.apiList['jira.tokens'])
                        .then(response => {
                            // authenticated
                            if (response.data.has_jira) {
                                let user = JSON.parse(JSON.stringify(this.loggedInUser))
                                user.has_jira = true
                                user.jira_tokens = response.data.tokens
                                this.setLoggedInUser(user)
                                this.jiraAuthLoading = false
                                this.getJiraProjects()
                                clearInterval(refreshUserStatus);
                            }
                            console.log(response.data);
                        })
                        .catch(error => {
                            // not yet
                            console.log(error)
                        });
                }.bind(this), 5000)
            }

        },
        components: {
            vueScrollTo,
            ProjectTabs
        }
    }
</script>
<style>
    .project-view-top-bar .project-status-bar .separator img {
        display: inline-block;
        width: 10px;
        margin-top: 15px;
    }

    .icon-container {
        margin: 0 10px;
    }
</style>
