<template>
    <div class="projects-top-tabs-container">
        <div class="project-thumb">
            <img :src="project.image" v-if="project.image" width="45" height="45">
            <span class="project-color"
                 :style="{'background-color': project.color}"
                 v-else></span>
            <span class="project-concluded-info">
                <h3 class="title">{{ project.name }}</h3>
                <p class="project-client">{{ project.company.name }}</p>
            </span>
        </div>
        <div class="row content-box" id="project-sections-tabs">
            <ul class="nav nav-tabs">
                <li class="trapezium" id="team-tab">
                    <a href="#team-tab-content" data-toggle="tab">Plan</a>
                </li>
                <li class="parallelogram active" id="client-tab">
                    <a href="#client-tab-content" data-toggle="tab">Messages</a>
                </li>
                <li class="trapezium-turned" id="notes-tab">
                    <a href="#notes-tab-content" data-toggle="tab">Notes</a>
                </li>
                <li class="trapezium" id="budget-tab">
                    <a href="#budget-tab-content" data-toggle="tab">Ticket</a>
                </li>
            </ul>
        </div>

        <!--
        <div class="row content-box">

          <div class="panel panel-default borderless flat">
            <div class="panel-body">

              <div class="tab-content">

                <div id="team-tab-content" class="tab-pane">
                  <h1>Team Messages</h1>

                  <add-message-form :project="project"
                                    tab="team"
                                    messageForm="true"
                                    v-if="project.permissions['message.create'] || project.permissions['action.create']">
                  </add-message-form>

                  <project-messages :messages="teamMessages"></project-messages>
                </div>

                <div id="client-tab-content" class="tab-pane active">
                  <h1>Client Messages</h1>

                  <add-message-form :project="project"
                                    tab="client"
                                    messageForm="true"
                                    actionForm="true"
                                    v-if="project.permissions['message.create'] || project.permissions['action.create']">
                  </add-message-form>

                  <project-messages :messages="clientMessages"></project-messages>
                </div>

                <div id="notes-tab-content" class="tab-pane">
                  <h1>Notes</h1>

                  <add-message-form :project="project"
                                    tab="note"
                                    messageForm="true"
                                    v-if="project.permissions['message.create'] || project.permissions['action.create']">
                  </add-message-form>

                  <project-messages :messages="notesMessages"></project-messages>
                </div>

                <div id="budget-tab-content" class="tab-pane">

                  <project-budget :project="project"></project-budget>
                </div>

              </div>

            </div>
          </div>

        </div>
        -->

    </div>
</template>
<script>
    const AddMessageForm = require('./AddMessageForm');
    const ProjectMessages = require('./MessagesList');
    const projectBasicInfo = require('./ProjectBudget');
    const ProjectBudget = require('./ProjectBasicInfo');

    export default {
        name: 'ProjectTabs',
        props: ['project'],
        data() {
            return {

            }
        },
        computed: {
            teamMessages() {
                // return messages that has visible_team
                return this.project.messages.filter(message => {
                    return message.visible_team;
                    // return messages that has visible_team, or messages that is not visible_team
                    // but its owner is a member or tech lead and not the pm
//                    if (message.visible_team) return true;
//                    else if (message.owner.id === this.project.manager.id) return false;
//                    for (let member of this.project.members) {
//                        if (message.owner.id === this.project.tech_lead.id) return true;
//                        if (message.owner.id === member.id) return true;
//                    }
                });
            },
            clientMessages() {
                return this.project.messages.filter(message => {
                    return message.visible_client;
                });
            },
            notesMessages() {
                return this.project.messages.filter(message => {
                    return !message.visible_client && !message.visible_team;
                });
            }
        },
        mounted() {

        },
        methods: {

        },
        components: {
            AddMessageForm,
            ProjectMessages,
            ProjectBudget,
            projectBasicInfo
        }
    }
</script>

<style>
    .projects-top-tabs-container .project-thumb{
        float:left;
    }
    .projects-top-tabs-container .project-color{
        width : 45px;
        height : 45px;
    }
    .projects-top-tabs-container .project-thumb img, .projects-top-tabs-container .project-thumb span {
        display: inline-block;
        float: left;
    }
    .projects-top-tabs-container .project-thumb .title{
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .projects-top-tabs-container .project-concluded-info{
        margin-left: 8px;
    }
</style>