<template>
    <div>
        <div class="row content-box projects-grid-list">
            <div class="col-md-6 col-xs-12" v-for="project in projects">
                <project-grid-item :project="project"></project-grid-item>
            </div>
        </div>
    </div>
</template>

<script>
    const ProjectGridItem = require('./ProjectGridItem.vue');

    export default {
        name: 'ProjectsGridList',
        props: ['projects'],
        data() {
            return{
                //
            }
        },
        components: {
            ProjectGridItem
        }
    }
</script>
