<template>
    <div>
        <div :class="projectStatus.cssClasses">
            <div class="panel-heading">
                {{ projectStatus.msg }}
            </div>
            <div class="panel-body" @click="goToProject(project.id)">
                
                <h1>{{ project.name }}</h1>
                <h2 class="text-color-note company">
                    {{ project.company.name }}
                </h2>
                <dl class="dl-horizontal">
                    <div class="client">
                        <dt>Represented By:</dt>
                        <dd>{{ project.client.name }}</dd>
                    </div>
                    <div class="manager">
                        <dt>Project Manager:</dt>
                        <dd>{{ project.manager.name }}</dd>
                    </div>
                    <div class="leader">
                        <dt>Technical Lead:</dt>
                        <dd>{{ project.tech_lead.name }}</dd>
                    </div>
                </dl>
                <div>
                    <div class="project-dates">
                        <div class="start-date">
                            <div class="date">{{ project.date_start | date }}</div>
                            <p>Kick-Off</p>
                        </div>
                        <div class="end-date">
                            <div class="date">{{ project.date_final | date }}</div>
                            <p>Estimated End</p>
                        </div>
                    </div>
                </div>
                <div class="text-center text-warning remaining-days" v-if="!project.date_archived">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                     Final date {{ remainingDays }}
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    .panel-default.archived {
        .panel-heading {
            display: none;
        }
        .panel-body {
            border-top: 2px solid #E6E6E6;
        }
    }
    .remaining-days {
        margin-top: 10px;
    }
</style>
<script>
    export default{
        name: 'ProjectGridItem',
        props: ['project'],
        data(){
            return{
                //
            }
        },
        computed: {
            projectStatus: function () {
                let calcStatus = {};
                calcStatus.cssClasses = {
                    'panel': true,
                    'borderless': true,
                    'flat': true
                };
                switch (this.project.status.toLowerCase()) {
                    case 'archived':
                        calcStatus.cssClasses['panel-default archived'] = true;
                        calcStatus.msg = "Archived";
                        break;
                    case 'due':
                        calcStatus.cssClasses['panel-warning'] = true;
                        calcStatus.msg = "Due " +
                            "Action";
                        break;
                    case 'pending':
                        calcStatus.cssClasses['panel-danger'] = true;
                        calcStatus.msg = "Pending action";
                        break;
                    case 'delivered':
                        calcStatus.cssClasses['panel-success'] = true;
                        calcStatus.msg = "Delivered";
                        break;
                    case 'in-progress':
                        calcStatus.cssClasses['panel-info'] = true;
                        calcStatus.msg = "In progress";
                        break;
                    default:
                        calcStatus.cssClasses['panel-primary'] = true;
                        calcStatus.msg = "Status is unknown";
                }
                return calcStatus;
            },
            remainingDays() {
                return moment(this.project.date_final, "YYYY/MM/DD").fromNow();
            }
        },
        methods: {
            goToProject(id) {
                this.$router.push({ name: 'ProjectShow', params: { id: id }});
            },
        }
    }
</script>
