<template>
  <div :class="messageCssClasses" :id="'project-message-' + message.id" v-if="belongsToActiveService">
    <div v-if="message.owner.type === 'client'" class="panel-heading">
      Message From Client
    </div>
    <div class="panel-body">
      <div class="col-author-avatar">
        <div class="avatar-circle-lg"
             :style="{'background-color': message.owner.color}">
          <span class="initials">{{ message.owner.initials }}</span>
        </div>
        <div class="message-visibility"
             v-if="(!message.is_action && message.permissions['message.update']) || (message.is_action && message.permissions['action.update'])">
          <span class="dropdown">
            <button id="projects-index-filter"
                    data-toggle="dropdown"
                    class="btn btn-link note"
                    style="padding: 0"
            >
              <i class="glyphicon glyphicon-eye-open"></i>
              {{ visibilityStatus }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#" @click.prevent="changeMessageVisibility({message: message, target: 'all'})">
                  Client and Team
                </a>
              </li>
              <li>
                <a href="#" @click.prevent="changeMessageVisibility({message: message, target: 'client'})">
                  Only Client
                </a>
              </li>
              <li>
                <a href="#" @click.prevent="changeMessageVisibility({message: message, target: 'team'})">
                  Only Team
                </a>
              </li>
              <li>
                <a href="#" @click.prevent="changeMessageVisibility({message: message, target: 'hidden'})">
                  Private
                </a>
              </li>
            </ul>
          </span>
        </div>
        <!--<div class="message-visibility note text-center" v-else>-->
        <!--<span>-->
        <!--<i class="glyphicon glyphicon-eye-open"></i>-->
        <!--{{ visibilityStatus }}-->
        <!--</span>-->
        <!--</div>-->
      </div>
      <div class="content">
        <div class="info col-sm-12">
          <div class="col-sm-6 author">
            <h4 class="name">{{ message.owner.name }}</h4>
            <span class="title">
              {{ message.owner.role_description }}
            </span>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4 tags">
                <span class="label label-info" v-if="message.type">
                  {{ message.type }}
                </span>
              </div>
              <div class="col-sm-4 tags">
                <span v-if="openedProject.permissions['project.update']">
                  <a :href="jiraKeyLink + message.jira_key"
                     target="_blank"
                     class="label label-warning"
                     title="issue on Jira"
                     v-if="message.jira_key">
                    <img src="/images/icons/logo-icon-jira.svg" width="16px"/>
                    {{ message.jira_key }}
                  </a>
                  <a href="#"
                     @click.prevent="getJiraIssueDetails"
                     class="label label-default"
                     :class="{disabled: jiraLoading}"
                     title="open new issue on Jira"
                     v-else-if="openedProject.jira_key && userHasJira">
                    <i class="glyphicon glyphicon-share-alt" v-if="!jiraLoading"></i>
                    <i class="glyphicon glyphicon-repeat fast-right-spinner" v-else></i>
                    Jira
                  </a>
                </span>
              </div>
              <div class="col-sm-4 date">
                {{ message.updated_at.date | time }}
                <span v-if="message.updated_at.date !== message.created_at.date"
                      class="glyphicon glyphicon-edit"
                      :title="'originally created ' + human(message.created_at.date)"></span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="body">
          <div v-html="htmlFilter(message.content)"></div>
        </div>
        <div class="footer row message-services">
          <span class="title" v-if="message.services && message.services.length > 0">
            Services:
          </span>
          <span class="service-name label label-info"
                v-for="service in message.services"
                v-if="message.services && message.services.length > 0">
            {{ service.service.name }}
            <span class="action-icon"
                  @click="removeService(service)"
                  v-if="message.permissions['message.update']
                              || message.is_action && message.permissions['action.update']"
            >
              <i class="glyphicon glyphicon-remove-sign"></i>
            </span>
          </span>
          <span class="dropdown add-service"
                v-if="(message.permissions['message.update']
                          || message.is_action && message.permissions['action.update'])
                          && message.services.length < openedProject.services.length"
          >
            <span :id="'message-service' + message.id"
                  data-toggle="dropdown"
                  class="label label-default message-service"
            >
              Add service
              <span class="caret"></span>
            </span>
            
            <ul class="dropdown-menu">
              <li v-for="service in openedProject.services" v-if="servicesIds.indexOf(service.id) < 0">
                <a href="#"
                   @click.prevent="addService(service)"
                >
                  {{ service.name }}
                </a>
              </li>
            </ul>
          </span>
        </div>
        <div class="footer" v-if="message.files && message.files.length > 0">
          <span class="title">Attachments:</span>
          <span class="file" v-for="file in message.files">
            <span :class="attachmentIcon(file)"></span>
            <a :href="'/' + file.path" target="_blank">{{ file.name }}</a>
          </span>
        </div>
        <div class="footer row" v-if="message.is_action">
          <span class="task-label success-task" v-if="message.is_done">
            Done
          </span>
          <span :class="{'task-label': true, 'success-task': message.is_done, 'warning-task': message.is_due}"
                v-if="message.is_due">
            Action Due
          </span>
          <span class="segment">
            Due Date: {{ message.date_due | date }}
          </span>
          <span class="segment" v-if="message.is_done">
            Done on: {{ message.date_done | date }}
          </span>
          <span class="segment pull-right" v-if="message.is_due && message.type !== 'approval'">
            <button @click="makeThisActionDone(message)"
                    v-if="message.permissions['action.update']"
                    class="btn btn-sm btn-success">
              It's done!
            </button>
          </span>
        </div>
        <div class="message-approval-note footer"
             v-if="message.type == 'approval' && message.is_done">
          <h4>{{ message.approval_state ? 'Approved' : 'Rejected' }}</h4>
          <p v-if="message.approval_note" v-html="message.approval_note"></p>
        </div>
        <reject-approve-actions :message="message"
                                v-if="message.type == 'approval' && message.is_due && message.permissions['message.approve']"
        ></reject-approve-actions>
      </div>
    </div>
    
    <vue-modal v-if="showJiraNewIssueModal">
      <h3 slot="header">
        <img src="/images/icons/logo-icon-jira.svg" width="32px"/> Create new issue
      </h3>
      <div slot="body">
        <div class="form-group">
          <label>Summary</label>
          <input class="form-control" v-model="jiraNewIssueSummary"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" v-model="jiraNewIssueDescription" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label>Type</label>
          <input class="form-control" v-model="jiraNewIssueType"/>
        </div>
      </div>
      <div slot="footer">
        <button class="btn btn-default" @click="showJiraNewIssueModal = false">
          Cancel
        </button>
        <button class="btn btn-success" @click="shareToJira">
          Create Issue
        </button>
      </div>
    </vue-modal>
  
  </div>
</template>
<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex'
    import toastr from 'toastr'
    
    const RejectApproveActions = require('./RejectApproveActions.vue');
    const vueScrollTo = require('vue-scrollTo');
    const vueModal = require('../common/VueModal');
    
    export default{
        name: "ProjectMessageGridItem",
        props: ['message'],
        data(){
            return {
                jiraLoading: false,
                jiraNewIssueSummary: null,
                jiraNewIssueDescription: null,
                jiraNewIssueType: null,
                showJiraNewIssueModal: false
            }
        },
        computed: {
            ...mapGetters({
                projectActiveService: 'projectActiveService',
                openedProject: 'openedProject',
                loggedInUser: 'loggedInUser',
                jiraKeyLink: 'jiraKeyLink',
                apiList: 'apiList',
            }),
            
            visibilityStatus() {
                if (this.message.visible_client && this.message.visible_team) {
                    return 'Team/client';
                }
                else if (this.message.visible_client) {
                    return 'Client';
                }
                else if (this.message.visible_team) {
                    return 'Team';
                }
                else {
                    return 'Private';
                }
            },
            messageCssClasses() {
                let cssClasses = {
                    'row': true,
                    'message': true,
                    'panel': true,
                    'flat': true
                };
                if (this.message.owner.type === 'client') {
                    cssClasses['from-client'] = true;
                    cssClasses['panel-warning'] = true;
                }
                else {
                    cssClasses['panel-default'] = true;
                    cssClasses['panel-inverse'] = true;
                    cssClasses['borderless'] = true;
                }
                return cssClasses;
            },
            belongsToActiveService() {
                if (!this.projectActiveService) return true;
                
                for (let service of this.message.services) {
                    if (service.id === this.projectActiveService.pivot.id) return true;
                }
            },
            servicesIds() {
                return this.message.services.map(service => service.service.id)
            },
            userHasJira() {
                return this.loggedInUser.has_jira &&
                    this.loggedInUser.jira_tokens.expires_at > Math.floor(Date.now() / 1000);
            }
        },
        methods: {
            ...mapActions([
                'changeMessageVisibility',
                'makeActionDone',
                'updateMessageService',
            ]),
            ...mapMutations([
                'updateMessage',
            ]),
            stripHtml(html)
            {
                let text = html;
                text = text.replace(/<br \/>/gi, "\n");
                text = text.replace(/<\/p>/gi, "\n");
                text = text.replace(/<\/div>/gi, "\n");
                text = text.replace(/<li>/gi, "\t- ");
                text = text.replace(/<\/li>/gi, "\n");
                text = text.replace(/<a.*href="(.*?)".*>(.*?)<\/a>/gi, " $2 (Link->$1) ");
                text = text.replace(/<\/?[^>]+(>|$)/g, "");
                return text.trim();
            },
            getJiraIssueDetails() {
                if (!this.jiraLoading) {
                    this.jiraNewIssueSummary = 'issue summary';
                    // strip HTML tags, they are getting striped by Jira anyway!
                    this.jiraNewIssueDescription = this.stripHtml(this.message.content);
                    this.jiraNewIssueType = "incident";
                    this.showJiraNewIssueModal = true;
                }
            },
            shareToJira() {
                this.showJiraNewIssueModal = false;
                if (!this.jiraLoading && this.openedProject.jira_key && this.userHasJira) {
                    this.jiraLoading = true;
                    this.$http.post(this.apiList['jira.issue'], {
                        message_id: this.message.id,
                        key: this.openedProject.jira_key,
                        summary: this.jiraNewIssueSummary,
                        description: this.jiraNewIssueDescription,
                        type: this.jiraNewIssueType
                    })
                        .then(response => {
                            // new issue is created
                            let message = JSON.parse(JSON.stringify(this.message));
                            message.jira_key = response.data.key;
                            this.updateMessage(message);
                            this.jiraLoading = false;
                            console.log(response.data);
                            this.jiraNewIssueSummary = null;
                            this.jiraNewIssueDescription = null;
                            this.jiraNewIssueType = null
                        })
                        .catch(error => {
                            // error
                            toastr.error('error while trying to open a Jira issue, try again later!', 'Error');
                            this.jiraLoading = false;
                            console.log(error)
                        });
                }
            },
            makeThisActionDone (message) {
                this.makeActionDone(message).then(response => {
                    let el = 'project-message-' + message.id;
                    let options = {
                        easing: vueScrollTo.easing['ease-in']
                    };
                    vueScrollTo.scrollTo('#' + el, 300, options);
                    let element = document.getElementById(el);
                    element.style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
                    setTimeout(function () {
                        element.style.boxShadow = 'none';
                    }, (3 * 1000));
                })
            },
            addService(service) {
                this.updateMessageService({
                    id: this.message.id,
                    service_id: service.pivot.id,
                    service_operation: 'service_add'
                })
            },
            removeService(service) {
                this.updateMessageService({
                    id: this.message.id,
                    service_id: service.pivot.project_service_id,
                    service_operation: 'service_remove'
                })
            },
            htmlFilter(html) {
                return html;
            },
            human(date) {
                if (!date) {
                    return 'N/A'
                }
                return moment(date, 'YYYY-MM-DD H:m:s').fromNow();
            },
            attachmentIcon(file) {
                let ext = file.name.split('.').pop();
                switch (ext) {
                    case 'jpg':
                        return 'icon-sm icon-image-dark';
                        break;
                    case 'jpeg':
                        return 'icon-sm icon-image-dark';
                        break;
                    case 'png':
                        return 'icon-sm icon-image-dark';
                        break;
                    case 'pdf':
                        return 'icon-sm icon-pdf-dark';
                        break;
                    case 'zip':
                        return 'glyphicon glyphicon-compressed';
                        break;
                    default:
                        return 'glyphicon glyphicon-file'
                }
                // icon-sm icon-image-dark
            }
        },
        components: {
            RejectApproveActions,
            vueScrollTo,
            vueModal
        }
    }
</script>