<template>
    <div>
        <div class="row content-box" id="client-pending-actions">
            <div class="outer-section-title" v-if="pendings.total > 0">
                <span v-if="loggedInUser.type === 'client'">Your</span>
                <span v-else>Client</span>
                action is needed ({{ pendings.total }})
            </div>
        
            <div class="row">
                <div class="col-md-4 pending-actions-section" v-if="pendings.requirement.length > 0">
                    <div class="panel panel-default borderless flat">
                        <div class="panel-body">
                            <div class="section-title">Pending Requirements ({{ pendings.requirement.length }})</div>
                            <div class="pending-items">
                                <div class="row pending-action" v-for="req in pendings.requirement">
                                    <div class="title col-xs-7">
                                        <a href="#"
                                           @click.prevent="goTo('project-message-' + req.id, req)"
                                           :class="{'not-visible': !req.visible_client}"
                                        >
                                            <span class="glyphicon glyphicon-eye-close"
                                                  title="hidden to client"
                                                  v-if="!req.visible_client"></span>
                                            {{ req.content | firstWords(3) }}:
                                        </a>
                                    </div>
                                    <div class="date col-xs-4">
                                        {{ req.dateDue | date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4 pending-actions-section" v-if="pendings.approval.length > 0">
                    <div class="panel panel-default borderless flat">
                        <div class="panel-body">
                            <div class="section-title">Pending Approvals ({{ pendings.approval.length }})</div>
                            <div class="pending-items">
                                <div class="row pending-action" v-for="app in pendings.approval">
                                    <div class="title col-xs-7">
                                        <a href="#"
                                           @click.prevent="goTo('project-message-' + app.id, app)"
                                           :class="{'not-visible': !app.visible_client}"
                                        >
                                            <span class="glyphicon glyphicon-eye-close"
                                                  title="hidden to client"
                                                  v-if="!app.visible_client"></span>
                                            {{ app.content | firstWords(3) }}:
                                        </a>
                                    </div>
                                    <div class="date col-xs-4">
                                        {{ app.dateDue | date }}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4 pending-actions-section" v-if="pendings.payment.length > 0">
                    <div class="panel panel-default borderless flat">
                        <div class="panel-body">
                            <div class="section-title">Pending Payments ({{ pendings.payment.length }})</div>
                            <div class="pending-items">
                                <div class="row pending-action" v-for="pay in pendings.payment">
                                    <div class="title col-xs-7">
                                        <a href="#"
                                           @click.prevent="goTo('project-message-' + pay.id, pay)"
                                           :class="{'not-visible': !pay.visible_client}"
                                        >
                                            <span class="glyphicon glyphicon-eye-close"
                                                  title="hidden to client"
                                                  v-if="!pay.visible_client"></span>
                                            {{ pay.content | firstWords(3) }}:
                                        </a>
                                    </div>
                                    <div class="date col-xs-4">
                                        {{ pay.dateDue | date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    const vueScrollTo = require('vue-scrollTo');
    
    export default{
        name: 'ProjectClientPendings',
        props: ['project', 'pendings'],
        data(){
            return{
                //
            }
        },
        computed: {
            ...mapGetters({
                projectActiveService: 'projectActiveService',
                loggedInUser: 'loggedInUser'
            })
        },
        methods: {
            goTo(el, message) {
                if (message.visible_client) {
                    $('a[href="#client-tab-content"]').tab('show');
                }
                else if (message.visible_team) {
                    $('a[href="#team-tab-content"]').tab('show');
                }
                else {
                    $('a[href="#notes-tab-content"]').tab('show');
                }
                let options = {
                    easing: vueScrollTo.easing['ease-in']
                };
                vueScrollTo.scrollTo('#' + el, 300, options);
                let element = document.getElementById(el);
                element.style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
                let t = setTimeout(function(){
                    element.style.boxShadow = 'none';
                },(10*1000));
            }
        },
        components:{
            vueScrollTo
        }
    }
</script>
<style>
    .pending-items {
        height: 115px;
        overflow-y: auto;
    }
</style>
