<template>
    <div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/0.20.1/quill.snow.min.css" rel="stylesheet">
        <div class="footer row">
            <div class="pull-right action-buttons">
                <button :class="{btn: true, 'btn-default': true, active: rejectIsClicked}"
                        @click.prevent="triggerReject"
                >
                    Reject
                </button>
                <button :class="{btn: true, 'btn-success': true, active: approveIsClicked}"
                        @click.prevent="triggerApprove"
                >
                    Approve
                </button>
            </div>
        </div>
        <quill :options="{ theme: 'snow' }"
               @cancel="cancel"
               @publish="publishMessage"
               v-if="approveIsClicked || rejectIsClicked"
               :id="message.id + ''"
        ></quill>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import Quill from '../common/quill'
    const vueScrollTo = require('vue-scrollTo');
    
    export default{
        name: 'ApproveRejectActions',
        props: ['message'],
        data(){
            return{
                rejectIsClicked: false,
                approveIsClicked: false
            }
        },
      components: {
        Quill,
          vueScrollTo
      },
        methods: {
            ...mapActions([
                'approveProjectMessage',
            ]),
            triggerReject() {
                this.rejectIsClicked = !this.rejectIsClicked;
                if (this.rejectIsClicked) {
                    this.approveIsClicked = false;
                }
            },
            triggerApprove() {
                this.approveIsClicked = !this.approveIsClicked;
                if (this.approveIsClicked) {
                    this.rejectIsClicked = false;
                }
            },
            cancel() {
                this.rejectIsClicked = false;
                this.approveIsClicked = false;
            },
            publishMessage(content) {
              console.log(content);
                let message = JSON.parse(JSON.stringify(this.message));
                message.approval_state = this.rejectIsClicked ? 0 : 1;
                message.approval_note = content;
                this.approveProjectMessage(message).then(
                    response => {
                        this.rejectIsClicked = false;
                        this.approveIsClicked = false;
                        let el = 'project-message-' + message.id;
                        let options = {
                            easing: vueScrollTo.easing['ease-in']
                        };
                        vueScrollTo.scrollTo('#' + el, 300, options);
                        let element = document.getElementById(el);
                        element.style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
                        setTimeout(function(){
                            element.style.boxShadow = 'none';
                        },(3*1000));
                    }
                );
            },
        }
    }
</script>