<template>
    <div  class="ignore-major-container project-view-container container-fluid" id="project-view-container">
        <div v-if="openedProject">
            <div class="archived-warning" v-if="openedProject.date_archived">
                <i class="glyphicon glyphicon-warning-sign"></i>
                Archived Project!
            </div>

            <project-dates-and-files :project="openedProject"></project-dates-and-files>

            <!--

            <project-team-grid :project="openedProject"
                               v-if="openedProject.permissions['project.show.members'] || openedProject.permissions['project.update']"
            ></project-team-grid>

            <project-services :project="openedProject"
                              :statuses="statusTypes"
            ></project-services>

            <project-client-pendings :project="openedProject"
                                     :pendings="activeServiceDues"
                                     v-if="activeServiceDues.total > 0"
            ></project-client-pendings>


            -->

            <div class="row content-box">

                <div class="panel panel-default borderless flat">
                    <div class="panel-body project-panel-body">

                        <div class="tab-content">

                            <div id="team-tab-content" class="tab-pane">
                                <h1>Plan</h1>

                            </div>

                            <div id="client-tab-content" class="tab-pane active">
                                <h1>Messages</h1>

                                <project-messages :project="openedProject"></project-messages>

                            </div>

                            <div id="notes-tab-content" class="tab-pane">
                                <h1>Notes</h1>

                            </div>

                            <div id="budget-tab-content" class="tab-pane">


                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="loading" v-show="openedProject === null">Loading&#8230;</div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'

    const ProjectDatesAndFiles = require('./ProjectDatesAndFiles.vue');
    const ProjectBasicInfo = require('./ProjectBasicInfo.vue');
    const ProjectServices = require('./ProjectServices.vue');
    const ProjectTabs = require('./ProjectTabs.vue');
    const ProjectMessages = require('./ProjectMessages.vue');
    const ProjectClientPendings = require('./ProjectClientPendings.vue');
    const ProjectTeamGrid = require('./ProjectTeamGrid.vue');

    export default {
        name: 'ProjectShow',
        data() {
            return {
                id: null
            }
        },
        watch: {
            '$route': 'initProject'
        },
        computed: {
            ...mapGetters({
                openedProject: 'openedProject',
                allProjects: 'allProjects',
                statusTypes: 'statusTypes',
                activeServiceDues: 'activeServiceDues',
                loggedInUser: 'loggedInUser'
            })
        },
        created() {
            this.initProject();
        },
        mounted() {
            initJqueryPlugins();
        },
        methods: {
            ...mapActions([
                'setOpenedProject',
                'resetProjects',
                'resetOpenedProject'
            ]),
            initProject() {
                this.resetOpenedProject();
                if (this.$route.params.id) {
                    this.id = parseInt(this.$route.params.id);
                    this.setOpenedProject(this.id);
//                    this.setOpenedProject(this.id).catch(error => {
//                        if (error === '404') this.$router.push('/404');
//                    });
                }
            }
        },
        components: {
            ProjectDatesAndFiles,
            ProjectBasicInfo,
            ProjectServices,
            ProjectTabs,
            ProjectClientPendings,
            ProjectTeamGrid,
            ProjectMessages
        }
    }
</script>
<style scoped>

    .archived-warning {
        background-color: #5D6773;
        color: #ffffff;
        font-weight: bold;
        width: 100%;
        height: 30px;
        left: 0;
        text-align: center;
        top: 144px;
        padding-top: 5px;
    }

    @media only screen and (max-device-width: 480px) {
        .archived-warning {
            top: 60px;
            height: 20px;
            padding-top: 2px;
        }
    }

</style>