<template>
    <div id="member-index">
        <div class="row content-box">
            <div class="row">
                <div class="pull-right" id="planner-nav">
                    <router-link :to="{name: 'PlannerView', params: prevWeek}" id="prev-week">
                        <i class="glyphicon glyphicon-triangle-left"></i> previous week
                    </router-link>
                    <router-link :to="{name: 'PlannerView', params: nextWeek}" id="next-week">
                        next week <i class="glyphicon glyphicon-triangle-right"></i>
                    </router-link>
                </div>
            </div>
            <table class="table table-bordered week-schedule" >
                <thead>
                <tr>
                    <th>Name</th>
                    <!--<th>Secondary Project</th>-->
                    <th v-for="(day, index) in weekDays">
                        <div>{{ day }}</div>
                        <div>{{ weekDates[index] }}</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="member in activeSchedule" :key="member.id">
                    <td class="member-cell" :style="{'border-left-color': member.color}">
                        {{ member.name }}
                    </td>
                    <!--<td></td>-->
                    <td v-for="(daySchedule, dayIndex) in member.weekSchedule"
                        :class="{'day-schedule-cell': true, 'empty': !daySchedule.length > 0}">
                        <div class="day-schedule"
                             v-if="daySchedule.length > 0"
                        >
                            <div class="schedule-unit"
                                 v-for="service in daySchedule"
                                 v-if="service"
                                 :style="{
                                        'background-color': service.project.color,
                                        'min-height': unitHeight(daySchedule)
                                        }"
                                 :title="service.date_start + ' - ' + service.date_finish + ' on ' + service.service.name"
                            >
                                {{ service.project.name }}
                            </div>
                            <div class="schedule-unit-empty" v-else></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            
        </div>
        
    </div>
</template>
<script>
    import { mapGetters, mapActions } from 'vuex'
    
    export default {
        name: 'PlannerView',
        props: ['year', 'week'],
        data() {
            return{
                weekDays: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
                prevWeek: {},
                nextWeek: {},
            }
        },
        mounted() {
            this.bootstrapActiveWeek();
        },
        watch: {
            week: function (val) {
                this.bootstrapActiveWeek();
            },
            year: function (val) {
                this.bootstrapActiveWeek();
            }
        },
        computed: {
            ...mapGetters({
                membersWeekSchedule: 'membersWeekSchedule',
            }),
            weekDates() {
                return this.weekDays.map(day => moment().week(this.week).day(day).format('YYYY-MM-DD'))
            },
            activeRecords() {
                if (this.membersWeekSchedule) {
                    if (this.membersWeekSchedule[this.year]
                        && this.membersWeekSchedule[this.year][this.week]) {
                        return  this.membersWeekSchedule[this.year][this.week];
                    }
                }
                return [];
            },
            activeSchedule() {
                if (this.activeRecords) {
                    return this.activeRecords.map(record => {
                        let member = JSON.parse(JSON.stringify(record));
                        member.weekSchedule = [];
                        member.weekSchedule = this.weekDays.map((day, index) => {
                            let dayDate = this.weekDates[index];
                            let daySchedule = [];
                            if (member.project_services.length > 0) {
                                for (let service of member.project_services) {
                                    if (moment(dayDate).isBetween(service.date_start, service.date_finish, null, '[]')) {
                                        daySchedule.push(service);
                                    }
                                }
                            }
                            return daySchedule;
                        });
                        return member;
                    })
                }
                return [];
            }
        },
        methods: {
            ...mapActions([
                'fetchMembersWeekSchedule'
            ]),
            unitHeight(parent) {
                return (40 / parseInt(parent.length)) + 'px';
            },
            bootstrapActiveWeek() {
                if (!this.week) {
                    this.week = moment().week();
                }
                if (!this.year) {
                    this.year = moment().year();
                }

                let activeWeekMoment = moment(this.weekDates[0]);
                this.nextWeek.year = activeWeekMoment.add(1, 'weeks').startOf('isoWeek').year();
                this.nextWeek.week = activeWeekMoment.add(1, 'weeks').startOf('isoWeek').week();
                this.prevWeek.year = activeWeekMoment.subtract(1, 'weeks').startOf('isoWeek').year();
                this.prevWeek.week = activeWeekMoment.subtract(1, 'weeks').startOf('isoWeek').week();

                if (!this.membersWeekSchedule[this.year]
                    || !this.membersWeekSchedule[this.year][this.week]) {
                    this.fetchMembersWeekSchedule({year: this.year, week: this.week});
                }
            }
        },
        components: {
            //
        }
    }
</script>
<style scoped>
    .member-cell {
        border-left: 3px solid;
        padding-left: 20px;
    }
    #prev-week {
        margin-right: 60px;
    }
    #planner-nav {
        margin-bottom: 20px;
        margin-right: 10px;
    }
    #planner-nav a {
        color: inherit;
    }
    .table th, .table td {
        background-color: #ffffff;
    }
    .table td {
        vertical-align: middle;
        border-top: 2px dashed #EEF1F6;
        height: 50px;
    }
    .day-schedule {
        border-radius: 5px;
    }
    .schedule-unit {
        padding: 5px;
        color: #ffffff;
    }
    .schedule-unit:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .schedule-unit:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    td.day-schedule-cell.empty {
        background-color: #E0DFE4;
    }
    .glyphicon.fast-right-spinner {
        -webkit-animation: glyphicon-spin-r 1s infinite linear;
        animation: glyphicon-spin-r 1s infinite linear;
    }
    @-webkit-keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
</style>
