<template>
    <div>
        <div class="error-page">
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="error-details">
                Sorry, The requested page can not be found!
            </div>
            <div class="error-actions">
                <router-link to="/" class="btn btn-default white btn-lg" active-class="dumpy-active">
                    <span class="glyphicon glyphicon-home"></span>
                    Take Me Home
                </router-link>
                <router-link to="/" class="btn btn-default btn-lg" active-class="dumpy-active">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Contact Support
                </router-link>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .error-page {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>
<script>
    export default{
        name: 'NotfoundPage',
        data(){
            return{
                //
            }
        }
    }
</script>
