@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon($size) {
  width: $size;
  height: $size;
  padding-left: 0;
  padding-top: 0;
  display: inline-block;
  vertical-align: text-top;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon {
  @include icon(32px);
}

.icon-sm {
  @include icon(16px);
}

.icon-lg {
  @include icon(50px);
}

.icon-attachment {
  @include retina('/images/icons/attach.png', 2, 8px 15px);
}
.icon-attachment-dark {
  @include retina('/images/icons/attach_dark.png', 2, 10px 19px);
  height: 20px;
}

.icon-calendar {
  @include retina('/images/icons/calendar.png', 2, 13px 15px);
}

.icon-remove-dark {
  @include retina('/images/icons/clear_dark.png', 2, 9px 9px);
}

.icon-create {
  @include retina('/images/icons/create.png', 2, 47px 47px);
}

.icon-calendar-dark {
  @include retina('/images/icons/calendar_dark.png', 2, 18px 19px);
}

.icon-edit-dark {
  @include retina('/images/icons/edit_dark.png', 2, 9px 9px);
}

.icon-image-dark {
  @include retina('/images/icons/pic.png', 2, 15px 15px);
}

.icon-pdf-dark {
  @include retina('/images/icons/pdf.png', 2, 14px 14px);
}
.icon-ticket {
  @include retina('/images/icons/ticket.png', 2, 17px 19px);
}
.icon-ticket-dark {
  @include retina('/images/icons/ticket_dark.png', 2, 17px 19px);
}

.icon-notification-white {
  @include retina('/images/icons/notification_white.png', 2, 15px 15px);
}

.icon-notification-empty-white {
  @include retina('/images/icons/notification.png', 2, 15px 15px);
}

.icon-menu-white {
  @include retina('/images/icons/more.png', 2, 5px 15px);
}

.icon-profile {
  @include retina('/images/icons/account.png', 2, 16px 16px);
}
a:hover .icon-profile {
  @include retina("/images/icons/account_hover.png", 2, 16px 16px);
}

.icon-settings {
  @include retina("/images/icons/settings.png", 2, 16px 16px);
}
a:hover .icon-settings {
  @include retina("/images/icons/setting_hover.png", 2, 16px 16px);
}

.icon-help {
  @include retina("/images/icons/support.png", 2, 16px 16px);
}
a:hover .icon-help {
  @include retina("/images/icons/support_hover.png", 2, 16px 16px);
}

.icon-logout {
  @include retina("/images/icons/logout.png", 2, 15px 15px);
}
a:hover .icon-logout {
  @include retina("/images/icons/logout_hover.png", 2, 15px 15px);
}