
select#projects-quick-links {
  @include retina('/images/icons/arrow_bottom2.png', 2, 9px 6px, 90% center no-repeat);
}
.form-horizontal, .form-inline {
  select {
    @include retina('/images/icons/arrow_bottom_dark.png', 2, 9px 6px, 90% center no-repeat);
  }
  select.select-dark {
    @include retina('/images/icons/arrow_bottom2.png', 2, 9px 6px, 90% center no-repeat);
  }
}

.project-status-bar {
  .separator {
    @include retina('/images/icons/deco.png', 2, 56px 8px, center center no-repeat);
  }
  .count {
    @include retina('/images/icons/arrow_right_dark.png', 2, 6px 9px, 90% center no-repeat);
  }
}

input[type=radio] + label {
  @include retina('/images/icons/radio.png', 2, 21px 21px);
}

input[type=radio]:checked + label {
  @include retina('/images/icons/radio_active.png', 2, 21px 21px);
}

input[type=checkbox] + label {
  @include retina('/images/icons/checkbox.png', 2, 19px 19px);
}

input[type=checkbox]:checked + label {
  @include retina('/images/icons/checkbox_active.png', 2, 19px 19px);
}