@import "variables";

@mixin custom_select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

@mixin custom_select_dark {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

@mixin bold {
  font-weight: 700;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Colors patterns **/

.text-color-note {
  color: $note_text_color
}

.text-color-title-primary {
  color: $primary_title_color;
}

.text-color-secondary {
  color: $secondary_text_color;
}

/*************************************************/

/** Fonts patterns **/

.center-content {
  @include center-content;
}

.note-font-size {
  font-size: $note_size;
}

.note {
  font-size: $note_size;
  color: $note_text_color;
}

.bold {
  @include bold;
}

/*************************************************/

/** base **/
body {
  font: 1.4em $primary_font_family;
  min-width: 800px;
}

#ie-notification {
  display: none;
}

body#login {
  background: $page_top_background;
  #logo {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  #footer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

i {
  margin-right: 7px;
}

.container-fluid {
  padding-left: 25px;
}

.container-fluid {
  .row {
    margin: 0;
  }

  div.row.content-box {
    margin-bottom: 15px;
  }

  .content-box {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.circle {
  border-radius: 50%;
}

.borderless {
  border: 0;
}

.flat {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 12px 25px;
  line-height: 0.9;
  border-radius: 2px;
}

.content-padding {
  padding: 30px 40px;
}

.dropdown {
  .btn-link:hover, .btn-link:active {
    text-decoration: none;
  }
}

.white {
  background-color: #fff;
  color: #333;
  border-color: #dedede;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/**********************************************/

/** Navbar **/

.navbar {
  border-radius: 0;
}

.navbar a {
  color: $navbar_color;
}

.navbar a:hover {
  color: $navbar_hover_color;
}

.navbar-brand {
  padding: 4px 15px;
}

#top-nav.navbar {
  margin-bottom: 0;
  min-height: 64px;
}

nav#top-nav {
  padding-top: 7px;
}

#second-nav.navbar {
  min-height: 79px;
}

#top-nav.navbar-themed {
  background-color: $page_top_background;
  border: 0;
}

#second-nav.navbar-themed {
  background-color: $secondary_background;
  border: 0;
  margin-bottom: 20px;
}

#second-nav .navbar-nav > li {
  margin: 0 25px 0 0;
}

#second-nav .navbar-nav > li > a {
  padding: 33px 0;
}

.navbar .nav .open > a, .navbar .nav .open > a:hover, .navbar .nav .open > a:focus,
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: transparent;
  border: 0;
}

.navbar-nav > li > a {
  height: 55px;
  line-height: 30px;
  font-size: 17px;
}

#second-nav .navbar-nav > li.active > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 6px solid $danger_color;
}

//#second-nav .navbar-nav > li > a:hover:after {
//  content: '';
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  width: 100%;
//  border-bottom: 3px solid $success_color;
//}

.dropdown-menu {
  .icon-sm {
    margin-right: 5px;
  }
}

.input-group-sm > .form-control {
  padding: 0 30px;
}

.form-horizontal select, .form-inline select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

select#projects-quick-links {
  width: 220px;
  height: 35px;
  margin-top: 7px;
  font-size: $small-font-size;
  background: #434E60;
  border: 0;
  color: #ffffff;
  padding: 0 25px;
}

#user-settings-menu-dropdown {
  > li {
    > a {
      padding: 5px 20px;
      font-size: $small-font-size;
    }
    > a:hover {
      color: $danger_color;
    }
  }
}

#notifications-menu {
  .notification-badge {
    background-color: $danger_color;
    border-radius: 50%;
    color: white;
    padding: 0;
    font-size: $smaller-font-size;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 22px;
    height: 22px;
    margin: 0;
    @include bold;
    text-align: center;
    border: 3px solid $page_top_background;
  }
}

#notifications-menu-dropdown {
  padding: 0;
  .row:hover {
    background: #F8F9FB;
  }
  .row {
    border-bottom: 2px dashed $fields_and_borders_background;
    padding: 0;
    margin: 0;
  }
  > li.row, li {
    padding: 20px;
  }
  > li {
    list-style: none;
    font-size: $smaller-font-size;
    .avatar-circle-sm {
      display: inline-block;
      float: left;
    }
    .content {
      margin-left: 42px;
      .desciption {
        a {
          color: $primary_color;
        }
        a:hover {
          color: darken($primary_color, 5%);
        }
      }
      .date {
        color: $note_text_color;
      }
    }
  }
  li.see-all {
    text-align: center;
    padding: 10px;
    a {
      color: $primary_color;
      @include bold;
      padding: 0;
    }
    a:hover {
      background: none;
    }
  }
}

#notifications-menu-button {
  position: relative;
}

#user-id-card {
  color: #ffffff;
  font-size: $small-font-size;
  width: auto;
  height: 40px;
  padding: 10px 0;
  .avatar-circle-sm {
    display: inline-block;
    float: left;
  }
  .content {
    padding-left: 40px;
    .name {
      @include bold;
      text-transform: capitalize;
    }
    .title {
      color: $additional_background;
      text-transform: capitalize;
    }
  }
}

/*** station v2***/

#main-menu {
  float: left;
}

#main-menu .nav > li > a {
  padding: 10px 60px;
}

#major-content-container {
  margin-top: 75px;
}

.ignore-major-container {
  top: -75px;
  position: relative;
}

.website-text {
  margin: 15px;
}

.client-logo {
  height: 128px;
}

.client-logo img {
  height: 100%;
}

.major-title-row {
  margin-bottom: 40px !important;
}

.major-title-row h1 {
  font-weight: normal !important;
  font-size: 42px;
}

.projects-status-container {
  background: #FCFCFC;
  padding-top: 40px;
  padding-bottom: 35px;
}

.projects-status-container li {
  height: 65px !important;
  text-align: center;
}

.projects-status-container li a {
  display: inline-block;
  color: #353947;
}

.projects-status-container li i {

}

.projects-status-container li img {
  width: 40px;
  display: inline-block;
  clear: both;
}

.projects-status-container li span {
  display: block;
  clear: both;
  font-size: 17px;
  margin-top: 10px;
}

.projects-status-container li {
  display: inline-block !important;
  width: auto !important;
  margin: 0px 20px;
}

.project-view-container .panel, .panel.panel-default.borderless.flat {
  background-color: transparent !important;
}

.project-view-top-bar {
  background: #FFF;
  margin-top: 0px !important;
}

.projects-top-tabs-container {
  background: #f6f7f9;
  padding-top: 5px !important;
}

.project-status-bar {
  height: 65px;
}

.project-panel-body {
  padding: 20px 22px !important;
}

.project-panel-body .panel-message-footer, .project-panel-body .message-panel-heading {
  background: #555763 !important;
}

.row{
  margin: 0;
}

.project-item{
  margin-top:20px !important;
}

/**********************************************/

/** Panels **/

.panel-body {
  padding: 42px;
}

.panel-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin: 0;
  }
}

.panel-inverse {
  background: $app_background;
}

.panel-message-form {
  border: 2px solid #D2D5DC;
  border-radius: 9px;
  .panel-footer {
    padding: 0;
    border-top: 2px solid #D2D5DC;
    background: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .panel-heading {
    background-color: $fields_and_borders_background;
    border-bottom: 2px solid #D2D5DC;
    color: $secondary_text_color;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .panel-body {
    padding: 0 !important;
  }
}

/***********************************************/

/** Projects lists **/

.projects-grid-list {
  h2.grid-section-title {
    border: none;
  }
  .panel {
    .panel-heading {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .panel-body {
      padding: 25px;
      cursor: pointer;
      h2.company {
        font-weight: normal;
      }
      .dl-horizontal {
        padding-top: 30px;
        padding-bottom: 30px;
        .client {
          padding-bottom: 30px;
        }
        .manager {
          padding-bottom: 10px;
        }
        dt {
          font-weight: normal;
        }
        dd {
          @include bold;
        }
      }
      .project-dates {
        width: 290px;
        height: 55px;
        border: 1px solid $fields_and_borders_background2;
        border-radius: 25px;
        padding: 0;
        .start-date {
          width: 50%;
          float: left;
          border-right: 1px solid $fields_and_borders_background2;
          padding-left: 30px;
        }
        .end-date {
          padding-left: 175px;
        }
        .date {
          padding-top: 8px;
          @include bold;
        }
      }
    }
  }
}

/*******************************************************/

/** Project Detail **/

.project-status-bar {
  > div {
    float: left;
    padding-left: 5px;
    color: $primary_title_color;
  }
  .icon {
    margin-top: 2px;
  }
  .separator {
    width: 75px;
    height: 40px;
  }
  .padding {
    width: 43px;
    height: 1px;
  }
  .status {
    .date {
      @include bold;
    }
  }
  .documents {
    cursor: pointer;
    .title {
      @include bold;
    }
  }
  #popover-project-files {
    padding: 10px;
  }
  #jira-link {
    cursor: pointer;
    .subtitle {
      font-weight: bold;
      font-size: 90%;
    }
  }
  #link-to-jira {
    padding-top: 10px;
  }

}

.section-title {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: $note_size;
}

.outer-section-title {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: $note_size;
  color: $primary_title_color;
}

.project-info {
  > div {
    float: left;
  }
  .project-thumb {
    @include center-content;
    height: 90px;
    img {
      width: 65px;
      height: 65px;
    }
    .project-color {
      width: 65px;
      height: 65px;
    }
  }
  h1, .h1, h2, .h2, h3, .h3 {
    margin: 0;
  }
  .project-leaders {
    margin-left: 50px;
    max-width: 50%;
    a.edit {
      margin-left: 20px;
    }
    .bold {
      padding-right: 20px;
    }
  }
  .project-description {
    margin-left: 42px;
    max-width: 50%;
  }
  p {
    margin: 5px 0 7px;
  }

}

.project-team {
  > div {
    float: left;
  }
  .team-member {
    margin-right: 25px;
    margin-top: 20px;
    > div {
      margin-left: 9px;
      float: left;
    }
    > a {
      float: left;
    }
  }
  .member-remove {
    height: 50px;
    @include center-content;
    span {
      vertical-align: middle;
    }
  }
  .member-add {
    height: 50px;
    @include center-content;
    span {
      vertical-align: middle;
    }
  }
  .member-info {
    .name {
      margin-top: 5px;
      text-transform: capitalize;
    }
    .title {
      @include bold;
      color: $primary_title_color;
      text-transform: capitalize;
    }
  }
}

/***********************************************/

/** Profile Avatar Circle **/

@mixin avatar($size) {
  width: $size;
  height: $size;
  background-color: $primary_color;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  .initials {
    position: relative;
    top: $size*0.32;
    font-size: $size*0.35;
    line-height: $size*0.35;
    color: #fff;
    text-transform: uppercase;
    @include bold;
  }
}

.avatar-circle {
  @include avatar(50px);
}

.avatar-circle-sm {
  @include avatar(32px);
  .initials {
    top: 8.25px;
  }
}

.avatar-circle-lg {
  @include avatar(75px);
  border: 4px solid $fields_and_borders_background;
  .initials {
    top: 20px;
  }
}

.avatar-circle-sm.avatar-border {
  border: 2px solid #272E36;
}

.avatar-circle-sm.avatar-border .initials {
  top: 5px;
}

.member-small-box {
  > div {
    float: left;
  }
  .name {
    margin-left: 10px;
    @include bold;
    padding-top: 15px;
    color: $primary_title_color;
    text-transform: capitalize;
  }
}

.row.member-small-box {
  margin: 0;
}

/***********************************************/

/** Form **/

.form-horizontal, .form-inline {

  label {
    margin: 10px 0;
    font-weight: inherit;
    color: $note_text_color;
  }
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .form-control {
    box-shadow: none;
    padding-left: 20px;
  }
  button, input, optgroup, select, textarea {
    font-size: $large_text_size;
  }
  .input-group-btn {
    > .btn {
      height: 40px;
      width: 64px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0;
      .caret {
        margin-left: 9px;
        margin-top: 5px;
      }
      .icon {
        margin-top: -5px;
      }
    }
    ul.dropdown-menu.dropdown-menu-sm {
      min-width: 0 !important;
      width: 64px !important;
      top: 96%;
      border-radius: 0 0 2px 2px;
      border: 0;
      -webkit-box-shadow: 0 12px 36px 8px rgba(0, 0, 0, 0.175);
      box-shadow: 0 12px 36px 8px rgba(0, 0, 0, 0.175);
    }
  }
  .input-group-sm {
    .input-group-btn {
      > .btn {
        height: 30px;
        width: auto;
        padding: 5px 10px;
      }
    }
  }

}

.btn-sm, .btn-group-sm > .btn {
  padding: 3px 20px;
}

input[type=radio], input[type=checkbox] {
  display: none;
  margin: 10px;
}

input[type=radio] + label, input[type=checkbox] + label {
  display: inline-block;
  margin: -2px;
  padding: 0 32px 6px;
  background-repeat: no-repeat;
  background-position: left top;
}

.has-feedback label ~ .form-control-feedback {
  top: 40px;
}

.jfilestyle input[type="text"] {
  background: #fff;
  border: 0;
  padding-left: 10px;
  color: $additional_background;
}

.jfilestyle input[type="text"]::-webkit-input-placeholder {
  font-size: 0.8em;
}

.jfilestyle input[type="text"]:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8em;
}

.jfilestyle input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.8em;
}

.jfilestyle input[type="text"]:-ms-input-placeholder {
  font-size: 0.8em;
}

.jfilestyle label {
  cursor: pointer;
  color: $secondary_text_color;
  font-size: $large_text_size;
}

/***********************************************/

/** Popover **/

.webui-popover {
  > .webui-arrow {
    border: 0;
  }
  border: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .webui-popover-content {
    padding: 0;
    .content-padding {
      padding: 30px 40px;
    }
  }
  .webui-popover-inner {
    a.close {
      position: absolute;
      right: 0;
    }
  }
}

.webui-popover.bottom-right > .webui-arrow {
  left: 9% !important;
}

.webui-popover.bottom-left > .webui-arrow {
  left: 95% !important;
}

.webui-popover.bottom > .webui-arrow {
  left: 52% !important;
}

.webui-popover.top > .webui-arrow {
  left: 52% !important;
}

.webui-popover.right > .webui-arrow {
  top: 52% !important;
}

/************************************************/

/** Services Boxes **/

.services-boxes {
  > div {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 150px;
  }
  .service-box-add {
    border: 2px solid $primary_title_color;
    text-align: center;
    border-radius: 2px;
    padding-top: 30px;
    :hover {
      cursor: pointer;
    }
    h1 {
      margin-top: 9px;
    }
  }
  .service-box {
    border-top: 6px solid;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    .actions {
      padding: 10px 15px 0;
      position: absolute;
    }
    .info {
      padding: 30px;
      text-align: center;
    }
    p.status {
      line-height: 50%;
      text-transform: uppercase;
      font-size: $note_size;
      padding-top: 5px;
    }
    p.date {
      padding-top: 10px;
    }
  }
  .delivered {
    border-top-color: $success_color;
    .status {
      color: $success_color;
    }
  }
  .in-progress {
    border-top-color: $info_color;
    .status {
      color: $info_color;
    }
  }
  .due {
    border-top-color: $warning_color;
    .status {
      color: $warning_color;
    }
  }
  .draft {
    border-top-color: $info_color;
    .status {
      color: $info_color;
    }
  }
  .pending {
    border-top-color: $danger_color;
    .status {
      color: $danger_color;
    }
  }
  .service-box.highlight {
    border-top: 0;
    background-color: #25AAE2;
    color: #FFFFFF !important;
    .status {
      color: inherit;
    }
    h1 {
      color: inherit;
    }
  }
}

/************************************************/

/** Pending Actions boxes **/

#client-pending-actions {
  .col-md-4 {
    margin-left: 0;
    padding-left: 0;
  }
  a {
    color: inherit;
  }
  a.not-visible {
    color: red;
  }
  .pending-actions-section {
    padding-right: 15px;
    .pending-action {
      margin-bottom: 25px;
      div.title {
        @include bold;
        color: $primary_title_color;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
      }
    }
  }
}

/************************************************/

/** Messages boxes **/

.messages {
  padding-top: 40px;
  .panel-heading {
    text-align: center;
    text-transform: uppercase;
  }
  .panel-body {
    padding: 25px 20px 15px;
  }
  .group-date {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px 0;
  }

  .group-date > span {
    position: relative;
    display: inline-block;
    color: $note_text_color;
  }

  .group-date > span:before,
  .group-date > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: $fields_and_borders_background;
  }

  .group-date > span:before {
    right: 100%;
    margin-right: 15px;
  }

  .group-date > span:after {
    left: 100%;
    margin-left: 15px;
  }

  .message {
    margin-bottom: 15px;
    .col-author-avatar {
      width: 80px;
      float: left;
    }
    .content {
      font-size: $small-font-size;
      margin-left: 100px;
      color: $secondary_text_color;
      .col-xs-12, .col-xs-6 {
        padding: 0;
        margin: 0;
      }
      .info {
        .author {
          .name {
            color: $primary_title_color;
            text-transform: capitalize;
          }
          .title {
            color: $primary_title_color;
            text-transform: capitalize;
          }
        }
        h4, .h4, h5, .h5, h6, .h6 {
          margin: 0;
        }
        .tags {
          text-align: right;
          .label {
            text-transform: uppercase;
            margin-right: 3px;
          }
        }
        .date {
          text-align: right;
          font-size: $note_size;
          padding: 0;
        }
        span.message-service:hover {
          cursor: pointer;
        }
        .message-services {
          .service-name {
            margin: 0 5px;
          }
          .add-service {
            margin-left: 10px;
          }
          .title {
            font-weight: bolder;
          }
          .action-icon {
            cursor: pointer;
          }
        }
      }
      .body {
        padding: 20px 0;
      }
      .footer {
        padding: 15px 0;
        border-top: 2px dashed $fields_and_borders_background;
        .title {
          margin-right: 15px;
        }
        .file {
          margin-right: 15px;
        }
        .segment {
          margin-right: 15px;
        }
        .type {
          text-transform: capitalize;
        }
      }
      position: relative;
    }
    .task-label {
      border-radius: 0 3px 3px 0;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      color: #fff;
      padding: 5px 13px;
      position: absolute;
      font-size: $smaller-font-size;
      left: -132px;
      @include bold;
    }
    .task-label:after {
      border-style: solid;
      border-width: 6px;
      bottom: -12px;
      content: "";
      position: absolute;
      left: 0;
    }
    .task-label:before {
      color: #fff;
      content: "";
      position: absolute;
      right: 12px;
      top: -2px;
    }
    .task-label.success-task {
      background-color: $success_color;
    }
    .task-label.success-task:after {
      border-color: darken($success_color, 15%) darken($success_color, 15%) transparent transparent;
    }
    .task-label.warning-task {
      background-color: $warning_color;
    }
    .task-label.warning-task:after {
      border-color: darken($warning_color, 15%) darken($warning_color, 15%) transparent transparent;
    }
  }
  .from-client {
    .content {
      .info {
        .author {
          .name {
            color: $primary_color;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

/************************************************/

/** Project tabs **/

#project-sections-tabs {
  border-bottom: 2px solid #b5b5b7;
  .nav-tabs, .nav-pills {
    width: 610px;
    text-align: center;
    float: right;
  }
  .nav-tabs {
    border-bottom: 0;
    font-size: 18px;
    .trapezium {
      width: 180px;
      margin-left: -1px;
    }
    .parallelogram {
      width: 100px;
      height: 45px;
      margin-left: 0;
      position: relative;
    }
    .parallelogram:before {
      content: '';
      top: 0;
    }
    .parallelogram:after {
      content: '';
      top: 0;
    }
    .parallelogram-turned {
      width: 100px;
      height: 45px;
      margin-left: 0;
      position: relative;
    }
    .parallelogram-turned:before {
      content: '';
    }
    .parallelogram-turned:after {
      content: '';
    }
    .trapezium-turned {
      width: 100px;
      height: 45px;
      margin-left: 35px;
      position: relative;
    }
    .trapezium-turned:before {
      content: '';
      top: 0;
    }
    .trapezium-turned:after {
      content: '';
      top: 0;
    }

    .active {
      color: #0091b8;
    }

    a {
      background: none;
      border: 0;
      margin-top: 4px;
      color: inherit;
    }
    li {
      margin-right: 4px;
    }
  }

}

/************************************************/

/** budget tab **/

#budget-tab-content {
  .table {
    margin-top: 35px;
    thead {
      tr {
        th {
          text-transform: uppercase;
          padding-left: 15px;
          font-size: $small-font-size;
          border-bottom: 2px dashed $fields_and_borders_background;
        }
      }
    }
    td {
      border-top: 0;
      padding: 15px;
    }
    tbody {
      td {
        font-size: $large_text_size;
      }
      tr:nth-of-type(odd) {
        background-color: #FFFFFF;
      }
      tr:nth-of-type(even) {
        td {
          background-color: $fields_and_borders_background;

        }
        td:last-child {
          background-color: $fields_and_borders_background;
          border-radius: 0 32px 32px 0;
          -moz-border-radius-topright: 32px;
          -moz-border-radius-bottomright: 32px;
          -webkit-border-top-right-radius: 32px;
          -webkit-border-bottom-right-radius: 32px;

        }
        td:first-child {
          background-color: $fields_and_borders_background;
          border-radius: 32px 0 0 32px;
          -moz-border-radius-topleft: 32px;
          -moz-border-radius-bottomleft: 32px;
          -webkit-border-top-left-radius: 32px;
          -webkit-border-bottom-left-radius: 32px;
        }
      }
    }
    tbody:after {
      content: "-";
      display: block;
      line-height: 1em;
      color: transparent;
    }
    tfoot {
      tr {
        td {
          font-size: $large_text_size;
        }
        color: #FFFFFF;
        @include bold;
        td {
          background-color: $danger_color;
        }
        td:last-child {
          border-radius: 0 32px 32px 0;
        }
        td:first-child {
          border-radius: 32px 0 0 32px;
        }
      }
    }
  }

}

/***********************************************/

/** Message Form - WYSIWYG **/

.panel-message-form {
  .nav-pills {
    li, li.active {
      a {
        padding: 0;
        background: none;
        border: 0;
        margin-right: 10px;
        color: $secondary_text_color;
        font-size: $small-font-size;
      }
      a:hover {
        color: darken($secondary_text_color, 20%);
      }
      .triangle {
        display: none;
      }
    }
    li.active {
      @include bold;
      position: relative;
      .triangle {
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #D2D5DC;
        position: absolute;
        top: 27px;
        left: 0;
      }
      .triangle:after {
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #EEF1F6;
        position: absolute;
        top: -12px;
        left: -10px;
        content: '';
      }
    }
    li.active:after {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
    }
  }
  .panel-message-footer {
    padding: 0;
    border-top: 2px solid #D2D5DC;
    background: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .row {
      > div {
        padding: 8px;
      }
      .attachment {
        text-align: center;
      }
      .buttons {
        text-align: right;
        .btn-link {
          color: inherit;
        }
        .btn-link:hover {
          color: darken($secondary_text_color, 50%);
          text-decoration: none;
        }
      }
    }
  }

  .editor {
    min-height: 60px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }
}

.ql-toolbar.ql-snow {
  border: 0;
}

.ql-container.ql-snow {
  border: 0;
}

.add-message .ql-editor {
  min-height: 60px;
}

.panel-message-form.approval-action .ql-editor {
  min-height: 50px;
}

.add-action {
  .ql-container.ql-snow {
    padding: 0;
    .ql-editor {
      background-color: #EEF1F6;
      min-height: 120px;
      padding: 10px;
      border-radius: 4px;
    }
  }
  .content-padding {
    padding: 30px 20px;
    .date {
      padding-bottom: 30px;
      border-bottom: 2px dashed #EEF1F6;
      font-weight: 700;
    }
  }
}

/***********************************************/

/** add action form **/

.add-action, .add-activity {
  .row {
    form {
      .date {
        padding-bottom: 30px;
        border-bottom: 2px dashed $fields_and_borders_background;
        @include bold;
      }
      textarea.form-control {
        height: 180px;
      }
      .btn-default {
        color: #FFFFFF;
        .glyphicon {
          color: #FFFFFF;
        }
      }
    }
  }
}

/***********************************************/

/** Add reject message **/

.add-reject-message {
  position: relative;
  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #D2D5DC;
    position: absolute;
    top: -9px;
    right: 150px;
  }
  .triangle:after {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    position: absolute;
    top: 2px;
    left: -10px;
    content: '';
  }
}

/************************************************/

/** Datepicker **/

.cov-vue-date {
  width: 100%;
}

/************************************************/

@media (min-width: 992px) {
  .col-lg-offset-4_5 {
    margin-left: 29.175%;
  }
  .projects-grid-list {
    .panel {
      .panel-body {
        .dl-horizontal {
          dd {
            margin-left: 145px;
          }
          dt {
            width: 130px;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {

  body {
    font-size: 1.2em;
  }
  .col-xs-12 {
    padding: 5px;
  }
  .projects-grid-list {
    .panel {
      .panel-body {
        padding: 10px;
        .dl-horizontal {
          padding-top: 15px;
          padding-bottom: 15px;
          dt, dd {
            display: inline-block;
          }
          dt {
            width: 45%;
          }
          .client {
            padding-bottom: 15px;
          }
          .manager {
            padding-bottom: 10px;
          }
        }
        .project-dates {
          width: 225px;
          height: 50px;
          .start-date {
            padding-left: 20px;
          }
          .end-date {
            padding-left: 125px;
          }
        }
      }
    }
  }

  .services-boxes {
    > div {
      width: 125px;
    }
  }

  /** Notes boxes **/

  #notes-tab-content {
    .messages {
      .message {
        .content {
          margin-left: 10px;
        }
      }
    }
  }
}