// Text colors
$primary_color: #D82A4C;
$primary_title_color: #373e48;
$secondary_text_color: #57626d;
$note_text_color: #84919f;
$navbar_color: #ffffff;
$navbar_hover_color: darken($navbar_color, 15%);

// Background colors
$page_top_background: #373E48;
$secondary_background: #2B323A;
$additional_background: #84919f;
$fields_and_borders_background: #EEF1F6; //#e4e45e9
$fields_and_borders_background2: #E6E6E6; //#e4e45e9
$app_background: #F6F7F9; //#ededee
$primary_button_background: #56b499;
$tabs_background: #DAE0EC;

// Statuses colors
$success_color: #38b449;
$danger_color: #ef4036;
$warning_color: #fdaf3f;
$info_color: #27a9e1;

// Fonts
$primary_title_size: 18px;
$primary2_title_size: 16px;
$primary3_title_size: 15px;
$secondary_text_size: 14px;
$secondary2_text_size: 14px;
$secondary3_text_size: 13px;
$secondary4_text_size: 12px;
$note_size: 0.8em;
$large_text_size: 110%;
$larger_text_size: 120%;
$largest_text_size: 140%;
$small-font-size: 90%;
$smaller-font-size: 80%;
$smallest-font-size: 70%;

@font-face {
  font-family: NotoNaskhArabicRegular;
  src: url("/fonts/NotoNaskhArabicUI-Regular.ttf");
}

@font-face {
  font-family: NotoSansRegular;
  src: url("/fonts/NotoSans-Regular.ttf");
}

$primary_font_family: "NotoSansRegular", "NotoNaskhArabicRegular", sans-serif;