<template>
    <div>
        <div class="file-upload">
            <file-upload title="Browse or drage and drop files to upload"
                         :events="events"
                         :name="name"
                         :post-action="apiList['file.upload']"
                         :extensions="uploadRules.extensions"
                         :multiple="multiple"
                         :size="uploadRules.max"
                         :headers="headers"
                         :data="data"
                         :drop="drop"
                         :drop-active="dropActive"
                         :files="files"
                         ref="upload"
                         @fileUploaded="fileUploaded"
            ></file-upload>
            <span class="restrictions note">
                <b>Restrictions:</b> max size: {{ uploadRules.max | formatSize }},
                extensions: {{ uploadRules.extensions }}
            </span>
            <br>
            <table class="table" v-if="files.length > 0">
                <tbody>
                <tr v-for="(file, index) in files">
                    <td class="text-left">{{file.name}}</td>
                    <td>{{file.size | formatSize}}</td>
                    <td>{{ parseInt(file.progress) + '%' }}</td>
                    <td v-html="fileStatus(file)"></td>
                    <td>
                        <button class="btn btn-xs btn-default"
                                @click="file.active = false"
                                :disabled="file.progress === '100.00' || file.error"
                                title="abort upload"
                        >
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-danger"
                                @click="remove(file)"
                                title="remove the file"
                                :disabled="file.progress !== '100.00'"
                        >
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<style>
    .btn-xs, .btn-group-xs > .btn {
        padding: 1px 5px !important;
    }
    .file-upload {
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .file-uploads {
        border: 2px dashed #efefef;
        width: 100%;
        height: 100px;
        padding-top: 35px;
        cursor: pointer;
    }
    .table {
        margin-top: 20px;
    }
    .table tr:first-child td {
        border: 0;
    }
</style>
<script>
    import { mapActions, mapGetters } from 'vuex'
    const FileUpload = require('vue-upload-component');

    Vue.filter('formatSize', function(size) {
        if (size > 1024 * 1024 * 1024 * 1024) {
            return (size / 1024 / 1024 / 1024 / 1024).toFixed(2) + ' TB';
        } else if (size > 1024 * 1024 * 1024) {
            return (size / 1024 / 1024 / 1024).toFixed(2) + ' GB';
        } else if (size > 1024 * 1024) {
            return (size / 1024 / 1024).toFixed(2) + ' MB';
        } else if (size > 1024) {
            return (size / 1024).toFixed(2) + ' KB';
        }
        return size.toString() + ' B';
    });
    
    export default{
        props: ['reset'],
        data() {
            return {
                multiple: true,
                files: [],
                upload: [],
                title: 'Add upload files',
                drop: true,
                dropActive: true,
                auto: true,
                active: true,
                uploadedFiles: [],
                name: 'file',
                headers: {
                    "X-Csrf-Token": document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                },

                data: {
                    "_csrf_token": document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                },

                events: {
                    add(file, component) {
                        component.active = true;
                        file.headers['X-Filename'] = encodeURIComponent(file.name);
                        file.data.finename = file.name;
                    },
                    progress(file, component) {
                        //
                    },
                    after(file, component) {
                        component.$emit('fileUploaded', {id: file.id, path: file.response.path, filename: file.name})
                    },
                    before(file, component) {
                        //
                    },
                }
            }
        },
        computed: {
            ...mapGetters({
                apiList: 'apiList',
                attachmentsRules: 'attachmentsRules',
                loggedInUser: 'loggedInUser',
                rolesList: 'rolesList',
                openedProject: 'openedProject',
            }),
            uploadRules() {
                let rules = {};

              rules.max = 1024 * 1024 * 5;
              rules.extensions = 'jpg';
                
                if (this.attachmentsRules) {
                  rules.max = 1024 * this.attachmentsRules.max;
                  rules.extensions = this.attachmentsRules.extensions.join();

                  if (this.loggedInUser.role_id === this.rolesList.admin || this.loggedInUser.id === this.openedProject.manager.id) {
                    rules.max = 1024 * this.attachmentsRules.manager_max;
                  }
                }
                
                
                return rules;
            }
        },
        watch: {
            uploadedFiles: function (val) {
                this.$emit('filesListChange', val);
            },
            reset: function (val) {
                if (val) {
                    this.files = [];
                    this.uploadedFiles = []
                }
            }
        },
        mounted() {
            this.upload = this.$refs.upload.$data
        },
        methods: {
            remove(file) {
                let index = this.files.indexOf(file);
                if (index != -1) {
                    this.files.splice(index, 1);
                    this.uploadedFiles.splice(index, 1);
                }
            },
            fileUploaded(file) {
                this.uploadedFiles.push(file);
            },
            fileStatus(file) {
                if (file.success) {
                    return '<span class="text-success">uploaded</span>';
                } else if (file.error === "extension")  {
                    return '<span class="text-danger">Extension not allowed</span>';
                } else if (file.error === "size")  {
                    return '<span class="text-danger">Over size</span>';
                } else if (file.error === "denied")  {
                    return '<span class="text-danger">Denied</span>';
                } else if (file.error)  {
                    return '<span class="text-danger">Error</span>';
                }
                return 'uploading ...';
            }
        },
        components:{
            FileUpload
        }
    }
</script>
