<template>
    <div>
        <!--first top nav-->
        <nav class="navbar navbar-themed" id="top-nav">
            <div class="container-fluid" id="major-menu">

                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <!--ToDo move nav to a mobile side menu-->

                    <router-link to="/" class="navbar-brand">
                        <img src="/images/logo.png" alt="Waqood Station" data-rjs="3">
                    </router-link>
                </div>

                <div class="hidden-xs">
                    <div class="container-fluid" id="main-menu">
                        <div>
                            <ul class="nav navbar-nav">
                                <router-link :to="{name: 'ProjectsIndex'}"
                                             tag="li"
                                             active-class="active"
                                >
                                    <a>Projects</a>
                                </router-link>
                                <!--


                                <router-link :to="{name: 'CompanyIndex'}"
                                             tag="li"
                                             active-class="active"
                                             v-if="userPermissions['company.index']"
                                >
                                  <a>Companies</a>
                                </router-link>
                                -->
                                <router-link :to="{name: 'ClientIndex'}"
                                             tag="li"
                                             active-class="active"
                                             v-if="userPermissions['client.index']"
                                >
                                    <a>Clients</a>
                                </router-link>

                                <!--
                                <router-link :to="{name: 'MemberIndex'}"
                                             tag="li"
                                             active-class="active"
                                             v-if="userPermissions['member.index']"
                                >
                                  <a>Members</a>
                                </router-link>
                                -->
                                <!--
                                                <router-link :to="{name: 'PlannerView', params: plannerActiveWeek}"
                                                             tag="li"
                                                             active-class="active"
                                                             v-if="userPermissions['planner.view']"
                                                >
                                                  <a>Planner</a>
                                                </router-link>


                                                <li v-if="env !== 'production'">
                                                  <a href="#" @click.prevent="testError">Give Me Error</a>
                                                </li>
                                                -->

                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                    <!--top nav right side user info and user menu-->
                    <ul class="nav navbar-nav navbar-right" v-if="loggedInUser">

                        <li id="user-id-card">
                            <div class="avatar-circle-sm avatar-border"
                                 :style="{'background-color': loggedInUser.color}">
                                <span class="initials">{{ loggedInUser.initials }}</span>
                            </div>
                            <div class="content">
                                <div class="name">
                                    {{ loggedInUser.name }}
                                </div>
                                <div class="title">
                                    {{ loggedInUser.role_description }}
                                </div>
                            </div>
                        </li>

                        <li id="user-settings-menu">
                            <a href="#" id="user-settings-menu-button">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <!-- User popover menu -->
        <div id="user-settings-menu-dropdown-content" class="hide">
            <ul id="user-settings-menu-dropdown" class="dropdown-menu">
                <!--<li>-->
                <!--<a href="/password/reset">-->
                <!--<span class="icon-sm icon-profile"></span> Password Reset-->
                <!--</a>-->
                <!--</li>-->
                <!--<li role="separator" class="divider"></li>-->
                <li>
                    <a href="/logout"
                       onclick="event.preventDefault();
                   document.getElementById('logout-form').submit();"
                    >
                        <span class="icon-sm icon-logout"></span> Logout
                    </a>

                    <form id="logout-form" action="/logout" method="POST"
                          style="display: none;">
                        <input type="hidden" name="_token" :value="csrf">
                    </form>
                </li>
            </ul>
        </div>
        <!-- End of user popover menu -->
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'

    const toastr = require('toastr');

    export default {
        name: 'NavView',
        props: [
            'attachmentsRules',
            'appInfo',
            'userObj',
            'actionTypes',
            'apiList',
            'jira',
            'statusTypes',
            'servicesList',
            'membersList',
            'rolesList',
            'userRolesList'
        ],
        data() {
            return {
                // get the CSRF token from the head meta
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                // default link for projects quick select menu
                projectsQuickLink: "0"
            }
        },
        computed: {
            // getters properties of vuex store, used to get data from he store
            ...mapGetters({
                allProjects: 'allProjects',
                loggedInUser: 'loggedInUser',
                openedProject: 'openedProject',
                apiCallsCounter: 'apiCallsCounter',
                apiCallStatus: 'apiCallStatus',
                userPermissions: 'userPermissions',
                coreApiList: 'apiList'
            }),
            plannerActiveWeek() {
                return {year: moment().year(), week: moment().week()}
            },
            env() {
                return document.querySelector('meta[name="app-env"]').getAttribute('content');
            }
        },
        watch: {
            // move to the page when the user selects a project from the quick projects links menu
            'projectsQuickLink': 'goToProject',
            // watch for api calls statuses
            'apiCallsCounter': 'apiCallNotify',
            // sync the quick links menu with the current active project page
            openedProject: function (val) {
                if (val) {
                    this.projectsQuickLink = val.id;
                } else {
                    this.projectsQuickLink = "0"
                }
            },
            '$route': 'routeTracker'
        },
        created() {
            // store the passed api-list prop
            this.setApiList(JSON.parse(this.apiList));
            // store the passed app-info prop
            this.setAppInfo(JSON.parse(this.appInfo));
            // store the passed jira prop
            this.setJira(JSON.parse(this.jira));
            // store the passed api-list prop
            this.setAttachmentsRules(JSON.parse(this.attachmentsRules));
            // reset projects list
            this.resetProjects();
            // store the passed action-types prop
            this.setActionTypes(JSON.parse(this.actionTypes));
            // store the passed status-types prop
            this.setStatusTypes(JSON.parse(this.statusTypes));
            // store the passed services-list prop
            this.setServicesList(JSON.parse(this.servicesList));
            // store the passed roles-list prop
            this.setRolesList(JSON.parse(this.rolesList));
            // store the passed user-roles-list prop
            this.setUserRolesList(JSON.parse(this.userRolesList));
            // store the passed members-list prop
            this.setMembersList(JSON.parse(this.membersList));
            // store the passed logged in user prop
            this.setLoggedInUser(JSON.parse(this.userObj));

            // refresh user session
            this.refreshSession();
        },
        mounted() {
            // run these functions after the mounting is finished
            this.initNavJqueryPlugins();

            // Sentry.io configuration
            // set context user info
            Raven.setUserContext({
                email: this.loggedInUser.email,
                id: this.loggedInUser.id,
                username: this.loggedInUser.name,
                name: this.loggedInUser.name
            })
        },
        methods: {
            // vuex store actions, see components/projects/store.js
            ...mapActions([
                'resetProjects',
                'setApiList',
                'setAppInfo',
                'setJira',
                'setAttachmentsRules',
                'setActionTypes',
                'setStatusTypes',
                'setLoggedInUser',
                'setServicesList',
                'setRolesList',
                'setMembersList',
                'resetOpenedProject',
                'setUserRolesList',
                'triggerApiCalls'
            ]),
            refreshSession() {
                // refresh session every 15 min.
                setInterval(() => {
                    this.$http.get(this.coreApiList['session.refresh']);
                }, 900000);
            },
            testError() {
                this.$http.get('/error', {'my-param': 'test param'})
                    .then((response) => console.log(response))
                    .catch((error) => {
                        console.log(error);
                        this.triggerApiCalls({
                            status: 'error',
                            response: error,
                            msg: 'Test error API!'
                        });
                    });
            },
            apiCallNotify() {
                if (this.apiCallStatus.status === 'success')
                    toastr.success(this.apiCallStatus.msg);
                if (this.apiCallStatus.status === 'error') {
                    toastr.error(this.apiCallStatus.msg);
                    if (this.apiCallStatus.response.status === 500)
                    // if API failed, show Sentry user feedback dialog box
                        Raven.showReportDialog();
                }
            },
            goToProject(id) {
                if (id != "0") {
                    this.$router.push({name: 'ProjectShow', params: {id: id}});
                }
            },
            routeTracker() {
                // if the current view is not a project view, reset the openedProject
                if (this.$route.name !== 'ProjectShow') {
                    this.resetOpenedProject();
                }
            },
            initNavJqueryPlugins() {
                $('#notifications-menu-button').webuiPopover({
                    trigger: 'click',
                    placement: 'auto', //bottom-right
                    width: 232,
                    closeable: false,
                    animation: 'pop',
                    content: function () {
                        return $("#notifications-menu-dropdown-content").html();
                    }
                });
                $('#user-settings-menu-button').webuiPopover({
                    trigger: 'click',
                    placement: 'auto', //bottom-right
                    width: 175,
                    closeable: false,
                    animation: 'pop',
                    content: function () {
                        return $("#user-settings-menu-dropdown-content").html();
                    }
                });
            }
        }
    }
</script>
