<template>
    
    <div :id="'add-reject-message-' + id">
        <!--<div class="triangle"></div>-->
        <div class="panel panel-default flat panel-message-form approval-action">
            <div class="panel-body">
                <div class="editor"></div>
                <div class="panel-message-footer">
                    <div class="row">
                        <div class="toolbar col-sm-5">
                            <span class="ql-format-group">
                                <span class="ql-format-button ql-bold" title="Bold"></span>
                                <span class="ql-format-button ql-italic" title="Italic"></span>
                                <span class="ql-format-button ql-underline" title="Underline"></span>
                                <span class="ql-format-button ql-list" title="List"></span>
                                <span class="ql-format-button ql-bullet" title="Bullet"></span>
                                <select class="ql-align" title="Text Alignment">
                                    <option label="Left" selected="" value="left"></option>
                                    <option label="Center" value="center"></option>
                                    <option label="Right" value="right"></option>
                                    <option label="Justify" value="justify"></option>
                                </select>
                            </span>
                        </div>
                        <div class="col-sm-2 attachment">
                            <!--<span class="icon-sm icon-attachment-dark"></span>-->
                        </div>
                        <div class="col-sm-5 buttons">
                            <button class="btn btn-sm btn-link"
                                    @click.prevent="cancel"
                            >
                                Cancel
                            </button>
                            <button class="btn btn-sm btn-success"
                                    @click.prevent="publish"
                            >
                                Publish
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
  import Quill from 'quill'

  export default {

    props: {
      options: {
        type: Object,
        default: () => ({})
      },
      autofocus: Boolean,
      id: {
        type: String,
        default: ''
      }
    },

    data () {
      return {
        focused: this.autofocus,
        editor: null
      }
    },

    mounted () {
      this.editor = new Quill(this.$el.getElementsByClassName( 'editor' )[0], {
        modules: {
          toolbar: { container: this.$el.getElementsByClassName( 'toolbar' )[0] }
        },
        placeholder: 'Note about your decision...',
        theme: 'snow'
      })
    },
    
    methods: {
        publish(event) {
          let userInput = $(event.target).closest('.panel-body').find('.ql-editor');
          this.$emit('publish', userInput.html());
          userInput.html('');
        },
        cancel(event) {
          $(event.target).closest('.panel-body').find('.ql-editor').html('');
          this.$emit('cancel');
        },
    },

    watch: {
      focused (val) {
        this.editor[val ? 'focus' : 'blur']()
      }
    }

  }
</script>