<template>
  <div>
    <input type="text"
           :id="id"
           :class="cssClasses"
           :name="name"
           :placeholder="placeholder"
           v-model="type"
           @input="input(type)"
           @dblclick="showAll"
           @blur="hideAll"
           @keydown="keydown"
           @focus="focus"
           autocomplete="off"/>
    
    <div :class="{autocomplete: true, transition: true, ['autocomplete-' + name]: true}" :id="'autocomplete-' + name"
         v-show="showList">
      <ul>
        <li v-for="data in json"
            :class="activeClass($index)">
          
          <a href="#"
             @click.prevent="selectList(data)"
             @mousemove="mousemove($index)">
            <b>{{ data[anchor] }}</b>
          </a>
        
        </li>
      </ul>
    </div>
  </div>

</template>
<script type="text/babel">

    // Transition (Optional)
    import Vue from 'vue'

    // Transition (Optional)
    //  Vue.transition('showAll',{});

    export default {
        props: {
            id: String,
            cssClasses: String,
            name: String,
            placeholder: String,

            model: String, // v-model like

            // Anchor of AJAX list
            anchor: {
                type: String,
                required: true
            },

            // Label of AJAX list
            label: String,

            // ajax URL will be get
            url: {
                type: Array,
                required: true
            },

            // query param
            param: {
                type: String,
                default: 'q'
            },

            // minimum length
            min: {
                type: Number,
                default: 0
            },

            // add 'limit' query to AJAX URL will be fetched
            limit: {
                type: String,
                default: ''
            },
        },

        data() {
            return {
                showList: false,
                type: "",
                json: [],
                focusList: ""
            };
        },

        watch: {
            type(val, old){
                // Sync parent model with $data.type
                return this.$parent.$data[this.model] = val;
            }
        },
        methods: {

            // Netralize Autocomplete
            clearInput() {
                this.showList = false;
                this.type = "";
                this.json = [];
                this.focusList = ""
            },

            // Get the original data
            cleanUp(data){
                return JSON.parse(JSON.stringify(data));
            },

            input(val){
                this.showList = true;

                this.getData(val);
                return this.$parent.$data[this.model] = val;
            },

            showAll(){
                this.json = [];
                console.log('get data from shawAll');
                this.getData("");

                this.showList = true;
            },

            hideAll(e){
//                this.showList = false;
            },

            focus(e){
                this.focusList = 0;

            },

            mousemove(i){
                this.focusList = i;
            },

            keydown(e){
                let key = e.keyCode;

                // Disable when list isn't showing up
                if (!this.showList) return;

                switch (key) {
                    case 40: //down
                        this.focusList++;
                        break;
                    case 38: //up
                        this.focusList--;
                        break;
                    case 13: //enter
                        this.selectList(this.json[this.focusList]);
                        this.showList = false;
                        break;
                    case 27: //esc
                        this.showList = false;
                        break;
                }

                // When cursor out of range
                let listLength = this.json.length - 1;
                this.focusList = this.focusList > listLength ? 0 : this.focusList < 0 ? listLength : this.focusList;

            },

            activeClass(i){
                return {
                    'focus-list': i == this.focusList
                };
            },

            getData(val){
                this.json = this.url.filter(member => {
                    let regex = new RegExp(val, "i");
                    return member.name.search(regex) !== -1;
                });
            },
            
            selectList(data){
                let clean = this.cleanUp(data);

                // Put the selected data to type (model)
                this.type = clean[this.anchor];

                this.$parent.$data[this.model] = data;

                this.$emit('selected', data);

                this.showList = false;
            }

        },

        created(){
            // Sync parent model with $data.type
            this.type = this.$parent.$data[this.model];
        }

    }
</script>
<style>
  .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a {
    transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
  }
  
  .autocomplete ul {
    font-family: sans-serif;
    position: absolute;
    list-style: none;
    background: #f8f8f8;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    min-width: 75%;
    margin-top: 10px;
    z-index: 100;
  }
  
  .autocomplete ul:before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    left: 46%;
    top: -20px
  }
  
  .autocomplete ul li a {
    text-decoration: none;
    display: block;
    background: #f8f8f8;
    color: #2b2b2b;
    padding: 5px;
    padding-left: 10px;
  }
  
  .autocomplete ul li a:hover {
    color: white;
    background: #2F9AF7;
  }
  
  .autocomplete ul li a span {
    display: block;
    margin-top: 3px;
    color: grey;
    font-size: 13px;
  }
  
  .autocomplete ul li a:hover span, .autocomplete ul li.focus-list a span {
    color: white;
  }
  
  .showAll-transition {
    opacity: 1;
    height: 50px;
    overflow: hidden;
  }
  
  .showAll-enter {
    opacity: 0.3;
    height: 0;
  }
  
  .showAll-leave {
    display: none;
  }

</style>