<template>
  <div id="company-index">
    <div class="row content-box">
      <div class="panel panel-default borderless flat">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <h1>Companies List</h1>
            </div>
            <div class="col-sm-6 text-right">
              <div v-if="userPermissions['company.create']">
                <button class="btn btn-success btn-md"
                        v-popover="addNewCompanyPopOptions"
                        id="add-new-company"
                >
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Add Company</span>
                </button>
                <div id="popover-content-add-company"
                     class="webui-popover-content">
                  <div class="content-padding">
                    <h1>Add company</h1>
                    <form class="form-horizontal"
                          id="add-company-form"
                          @submit.prevent="addNewCompany"
                    >
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.name}">
                        <label for="new-company-name">Name *</label>
                        <input id="new-company-name"
                               class="form-control"
                               required
                               :disabled="formInProgress"
                               v-model="newCompany.name">
                        <span class="help-block"
                              v-if="formErrors && formErrors.name"
                        >
                          {{ formErrors.name[0] }}
                        </span>
                      </div>
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.website}">
                        <label for="new-company-website">
                          Website
                        </label>
                        <input id="new-company-website"
                               class="form-control"
                               :disabled="formInProgress"
                               v-model="newCompany.website">
                        <span class="help-block"
                              v-if="formErrors && formErrors.website"
                        >
                          {{ formErrors.website[0] }}
                        </span>
                      </div>

                      <button class="btn btn-success btn-block submit"
                              type="submit">
                        <i class="glyphicon glyphicon-repeat fast-right-spinner"
                           v-if="formInProgress"></i>
                        Add
                      </button>
                      <p class="help-block">
                        all fields marked (*) are required.
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>Company</th>
              <th>Employees</th>
              <th>Website</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="company in companiesList"
                :id="'company-item-' + company.id"
                @click="makeActive(company)">
              <td>{{ company.name }}</td>
              <td>{{ company.clients.length }}</td>
              <td>{{ company.website }}</td>
            </tr>
            </tbody>
          </table>
          
          <table id="info-table" class="table info" v-show="activeCompany">
            <thead>
            <tr>
              <th>Name</th>
              <th>Date Joined</th>
              <th>Title</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody v-if="activeCompany">
            <tr v-for="employee in activeCompany.clients">
              <td>{{ employee.name }}</td>
              <td>{{ employee.created_at | date }}</td>
              <td>{{ employee.role_description }}</td>
              <td>{{ employee.email }}</td>
            </tr>
            </tbody>
          </table>
        
        </div>
      </div>
    </div>
    <div class="loading" v-show="companiesList === null">Loading&#8230;</div>
  </div>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex'
  
  export default {
    name: 'CompanyIndex',
    data() {
      return {
        activeCompany: null,
        newCompany: {
          name: null,
          website: null
        },
        addNewCompanyPopOptions: {
          trigger: 'click',
          placement: 'auto', //bottom-right
          closeable: true,
          animation: 'pop',
          dismissible: false
        },
        formErrors: null,
        formInProgress: false
      }
    },
    mounted() {
      this.fetchCompaniesList();
    },
    computed: {
      ...mapGetters({
        companiesList: 'companiesList',
        userPermissions: 'userPermissions'
      })
    },
    methods: {
      ...mapActions([
        'fetchCompaniesList',
        'createCompany'
      ]),
      addNewCompany() {
        let form = event.target;
        this.formInProgress = true;
        this.createCompany(this.newCompany).then(response => {
          this.newCompany = {name: null, website: null};
          this.formErrors = null;
          $('#add-new-company').webuiPopover('hide');
          this.formInProgress = false;
        }).catch(error => {
          if (error.status === 422) {
            this.formErrors = error.body;
          } else {
            $('#add-new-company').webuiPopover('hide');
          }
          this.formInProgress = false;
        });
      },
      makeActive(company) {
        if (this.activeCompany === null || this.activeCompany.id !== company.id) {
          this.activeCompany = company;
          $('tr.active').removeClass('active');
          $(event.target).parent().addClass('active');
//                    let activePosition = event.target.getBoundingClientRect();
//                    let activeWidth = $(event.target).parent().outerWidth();
//                    $('#info-table').css({
//                        position: "absolute",
//                        top: (activePosition.top + 25) + "px",
//                        width: activeWidth + "px"
//                    })
        } else {
          this.activeCompany = null;
          $(event.target).parent().removeClass('active');
        }
      }
    },
    components: {
      //
    }
  }
</script>
<style scoped>
  
  .btn-md span {
    padding-left: 5px;
  }
  
  .table {
    margin-top: 35px;
  }
  
  .table td {
    border-top: 0;
  }
  
  .table thead tr th {
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px dashed #EEF1F6;
  }
  
  .table tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #EEF1F6;
  }
  
  .table tbody tr td:first-child {
    border-radius: 32px 0 0 32px;
    -moz-border-radius-topleft: 32px;
    -moz-border-radius-bottomleft: 32px;
    -webkit-border-top-left-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
  }
  
  .table tbody tr td:last-child {
    border-radius: 0 32px 32px 0;
    -moz-border-radius-topright: 32px;
    -moz-border-radius-bottomright: 32px;
    -webkit-border-top-right-radius: 32px;
    -webkit-border-bottom-right-radius: 32px;
  }
  
  .table:not(.info) tbody tr:hover {
    background-color: #FCE8DF;
    cursor: pointer;
  }
  
  .table:not(.info) tbody tr.active td {
    background-color: #FCE8DF;
  }
  
  .table.info {
    margin-top: 5px;
    /*-webkit-box-shadow: 10px 10px 37px -17px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 10px 10px 37px -17px rgba(0,0,0,0.75);*/
    /*box-shadow: 10px 10px 37px -17px rgba(0,0,0,0.75);*/
  }
  
  .table.info thead {
    color: #ffffff;
    background-color: #ef4036;
  }
  
  .table.info thead tr th {
    border-bottom: 0;
  }
  
  .table.info thead tr th:first-child {
    border-radius: 32px 0 0 32px;
  }
  
  .table.info thead tr th:last-child {
    border-radius: 0 32px 32px 0;
  }
</style>
