<template>
  <div id="member-index">
    <div class="row content-box">
      <div class="panel panel-default borderless flat">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <h1>Members List</h1>
            </div>
            <div class="col-sm-6 text-right">
              <div v-show="userPermissions['member.create']">
                <button class="btn btn-success btn-md"
                        v-popover="addNewMemberPopOptions"
                        id="add-new-member"
                >
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Add Member</span>
                </button>
                <div id="popover-content-add-member"
                     class="webui-popover-content">
                  <div class="content-padding">
                    <h1>Add member</h1>
                    <form class="form-horizontal"
                          id="add-member-form"
                          @submit.prevent="addNewMember"
                    >
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.name}">
                        <label for="new-member-name">Name *</label>
                        <input id="new-member-name"
                               class="form-control"
                               required
                               :disabled="formInProgress"
                               v-model="newMember.name">
                        <span class="help-block"
                              v-if="formErrors && formErrors.name"
                        >
                          {{ formErrors.name[0] }}
                        </span>
                      </div>
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.email}">
                        <label for="new-member-email">
                          Email *
                        </label>
                        <input id="new-member-email"
                               class="form-control"
                               required
                               type="email"
                               :disabled="formInProgress"
                               v-model="newMember.email">
                        <span class="help-block"
                              v-if="formErrors && formErrors.email"
                        >
                          {{ formErrors.email[0] }}
                        </span>
                      </div>
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.description}">
                        <label for="new-member-description">
                          Title
                        </label>
                        <input id="new-member-description"
                               class="form-control"
                               :disabled="formInProgress"
                               v-model="newMember.description">
                        <span class="help-block"
                              v-if="formErrors && formErrors.description"
                        >
                          {{ formErrors.description[0] }}
                        </span>
                      </div>
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.role_id}">
                        <label for="new-member-role_id">
                          Role
                        </label>
                        <select id="new-member-role_id"
                                class="form-control"
                                :disabled="formInProgress"
                                required
                                v-model="newMember.role_id">
                          <option v-for="role in userRolesList"
                                  v-if="role.id !== rolesList.client"
                                  :value="role.id">
                            {{ role.description }}
                          </option>
                        </select>
                        <span class="help-block"
                              v-if="formErrors && formErrors.role_id"
                        >
                          {{ formErrors.role_id[0] }}
                        </span>
                      </div>
                      <div :class="{'form-group': true, 'has-error': formErrors && formErrors.color}">
                        <label for="new-member-color">
                          Color (optional)
                        </label>
                        <input id="new-member-color"
                               class="form-control"
                               :disabled="formInProgress"
                               placeholder="red or #ff0000"
                               v-model="newMember.color">
                        <span class="help-block"
                              v-if="formErrors && formErrors.color"
                        >
                          {{ formErrors.color[0] }}
                        </span>
                      </div>
                      
                      <button class="btn btn-success btn-block submit"
                              type="submit">
                        <i class="glyphicon glyphicon-repeat fast-right-spinner"
                           v-if="formInProgress"
                        ></i>
                        Invite
                      </button>
                      <p class="help-block">
                        all fields marked (*) are required.
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table" v-if="membersList.length > 0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="member in membersList"
                :id="'member-item-' + member.id">
              <td>{{ member.name }}</td>
              <td>{{ member.role_description }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.role.description }}</td>
            </tr>
            </tbody>
          </table>
        
        </div>
      </div>
    </div>
  
  </div>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex'
  
  export default {
    name: 'MemberIndex',
    data() {
      return {
        activeMember: null,
        newMember: {},
        addNewMemberPopOptions: {
          trigger: 'click',
          placement: 'bottom-left',
          closeable: true,
          animation: 'pop',
          dismissible: false,
        },
        formErrors: null,
        formInProgress: false,
      }
    },
    computed: {
      ...mapGetters({
        membersList: 'membersList',
        userPermissions: 'userPermissions',
        userRolesList: 'userRolesList',
        rolesList: 'rolesList',
      })
    },
    methods: {
      ...mapActions([
        'createMember'
      ]),
      addNewMember() {
        this.formInProgress = true;
        this.createMember(this.newMember).then(response => {
          this.newMember = {};
          this.formErrors = null;
          $('#add-new-member').webuiPopover('hide');
          this.formInProgress = false;
        }).catch(error => {
          if (error.status === 422) {
            this.formErrors = error.body;
          } else {
            $('#add-new-member').webuiPopover('hide');
          }
          this.formInProgress = false;
        });
      }
    },
    components: {
      //
    }
  }
</script>
<style>
  .form-group {
    margin-bottom: 0;
  }
  
  form .btn {
    margin-top: 15px;
  }
  
  .btn-md span {
    padding-left: 5px;
  }
  
  .table {
    margin-top: 35px;
  }
  
  .table td {
    border-top: 0;
  }
  
  .table thead tr th {
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px dashed #EEF1F6;
  }
  
  .table tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #EEF1F6;
  }
  
  .table tbody tr td:first-child {
    border-radius: 32px 0 0 32px;
    -moz-border-radius-topleft: 32px;
    -moz-border-radius-bottomleft: 32px;
    -webkit-border-top-left-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
  }
  
  .table tbody tr td:last-child {
    border-radius: 0 32px 32px 0;
    -moz-border-radius-topright: 32px;
    -moz-border-radius-bottomright: 32px;
    -webkit-border-top-right-radius: 32px;
    -webkit-border-bottom-right-radius: 32px;
  }
  
  .glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
  }
  
  @-webkit-keyframes glyphicon-spin-r {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  
  @keyframes glyphicon-spin-r {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
</style>
